[2015-07-30 17:51] PiXeL16 opened #1 "Pod seems to be broken"
Hi,
I got an error while running the pod install:

[code]

[2015-07-30 17:55] esttorhe commented on #1
Looking at the [podspec](https://github.com/ninjaprox/NVActivityIndicatorView/blob/master/NVActivityIndicatorView.podspec) it seems that @ninjaprox set it for `1.1` but pushed `1.0` to CocoaPods trunk and there's no `1.0` tag => https://github.com/ninjaprox/NVActivityIndicatorView/releases

Should be an easy fix (either tag `1.0` or push an update to trunk)

[2015-07-30 18:02] ninjaprox commented on #1
Thanks @PiXeL16, @esttorhe.
Fixed. Please try again.

[2015-07-30 18:11] #1 closed, assigned to nobody

[2015-08-06 15:02] dspaces1 opened #3 "Can't access methods."
Hello! I just pod installed and can't get access to anything from NVActivityIndicatorView except for NVActivityIndicatorViewVersionNumber. Any ideas?

[2015-08-06 15:49] ninjaprox commented on #3
@dspaces1: There is no NVActivityIndicatorViewVersionNumber. You will check with this. Meanwhile, you could try manual installation and let me know if the issue's still there.

[2015-08-12 17:36] Lukaz32 opened #4 "[!] Unable to satisfy the following requirements"
I keep getting the error message on trying to install the pod: `[!] Unable to satisfy the following requirements: - NVActivityIndicatorView required by Podfile`

This is how my Podfile looks like:
`target 'MyTarget' do`
    `pod "AFNetworking"`
  `pod "NVActivityIndicatorView"`
`end`

What am I missing?

[2015-08-13 04:53] ninjaprox commented on #4
@Lukaz32: We are having a problem with pod, i'm trying fixing this issue. Meanwhile, you could install manually instead.

[2015-08-13 18:49] ayushgoel commented on #3
I am also facing this issue.

[2015-08-14 10:07] ninjaprox commented on #4
@Lukaz32: The issues has been fixed. Update to the latest version and check README for details.

[2015-08-14 10:07] #4 closed, assigned to nobody

[2015-08-14 10:08] ninjaprox commented on #3
@dspaces1, @ayushgoel: The issue has been fixed. Let's update to the latest version.

[2015-08-14 10:08] #3 closed, assigned to nobody

[2015-08-14 11:03] ayushgoel commented on #3
Thanks @ninjaprox :+1:

[2015-08-14 14:15] Lukaz32 commented on #4
Alright. Thanks 👍🏻

[2015-08-16 20:38] MarvinNazari opened #5 "Carthage support"
Would be awesome to have Carthage support :heart:

[2015-08-24 08:28] Ewg777 opened #8 "Swift 2.0"
Any luck that this library is available in Swift 2.0?

[2015-08-24 09:15] ninjaprox commented on #8
@Ewg777: Sure, you can contribute if you want. You're welcome.

[2015-08-24 09:16] Ewg777 commented on #8
@ninjaprox seems https://github.com/ninjaprox/NVActivityIndicatorView/pull/2 good

[2015-09-15 15:17] adamcjohnson commented on #8
Definitely hoping this can get merged in soon.

[2015-09-15 15:53] ninjaprox commented on #8
@adamcjohnson: just wait few more weeks till Swift 2.0 official release

[2015-09-17 07:52] Ewg777 commented on #8
Swift 2.0 officially released

[2015-09-18 10:43] ninjaprox commented on #8
@Ewg777, @adamcjohnson: now in Swift 2.0 :)

[2015-09-18 10:44] #8 closed, assigned to nobody

[2015-10-13 00:40] #5 closed, assigned to nobody

[2015-10-22 13:49] ghost commented on #5
Hey,

Just got this error:

Dependency "NVActivityIndicatorView" has no shared framework schemes

If you believe this to be an error, please file an issue with the maintainers at https://github.com/ninjaprox/NVActivityIndicatorView/issues/new

[2015-10-25 06:12] ninjaprox commented on #5
@iagomr: Could you create a new issue for this? Then we can mention the maintainers in. Thanks,

[2015-10-25 08:56] ghost opened #13 "Carthage support"
Opening a new issue as requested by @ninjaprox:

Dependency "NVActivityIndicatorView" has no shared framework schemes

If you believe this to be an error, please file an issue with the maintainers at https://github.com/ninjaprox/NVActivityIndicatorView/issues/new

[2015-10-25 10:21] ninjaprox commented on #13
@morizotter: Could you help checking this?

[2015-10-26 00:51] morizotter commented on #13
Will be check later in today!

[2015-10-26 15:54] morizotter commented on #13
Mmm..

In my project currently I'm using this with statement below and it succeeds with no error. I tried to do it now and the result is same, succeeds.

[code]

And then, I tried to `carthage update` with `github "ninjaprox/NVActivityIndicatorView" == 1.3`

It fails... mmm.

**Ah, 1.3 was not compatible with Carthage**.

[2015-10-26 15:59] morizotter commented on #13
Ah, I make this pull request when this project was Swift1.2. And now the project is Swift2.0 and Xcode7.0. This pull request merged after update. I think it is the problem...

[2015-10-26 16:52] morizotter commented on #13
I think @iagomr maybe using NVActivityIndicatorView v1.3. I got same error.

NVActivityIndicatorView is compatible with Carthage from v2.0. So you have to use it with Xcode7.0 or later.

In my environment, I have Xcode7.1(Swift2.1). So, I tried to make [NVActivityIndicatorView for Swift2.1](https://github.com/morizotter/NVActivityIndicatorView/tree/morizotter/fix-carthage) and use it from Xcode7.1

[2015-10-26 16:54] ghost commented on #13
Hey @morizotter,

I tried it with your latest version last week, but I noticed I was using an older version of Carthage (something like 0.8). I just used your framework manually so "it's working" now.

I upgraded to Carthage 0.9.3 and will try your framework again this week, perhaps there's no problem anymore.

Thanks for looking into it!

[2015-10-26 17:00] ninjaprox commented on #13
It's maybe because I haven't release new version yet. I have updated latest version and test myself, everything works well.
@iagomr: Could you try with `github "ninjaprox/NVActivityIndicatorView"` in `Cartfile`? Let me know if the problem is till there.

[2015-10-26 17:06] morizotter commented on #13
Ah! You are right ><  @ninjaprox I am mistaken that latest version is v2.0 ><.

[2015-10-27 00:40] ninjaprox commented on #13
No, it's not you mistake. I've just released version `v2.1`. Eventually, solved this issue, will close this as well. Thanks for your report @iagomr.

[2015-10-27 00:40] #13 closed, assigned to nobody

[2015-10-27 04:00] HarlonWang opened #14 "Hi, NVActivityIndicatorView for Android"
I make a library AVLoadingIndicatorView for Android like NVActivityIndicatorView,Thank you for provide such good open library. I thought I should let you know this . And I hope I don't disturb you.

https://github.com/81813780/AVLoadingIndicatorView

[2015-10-27 18:03] ninjaprox commented on #14
:+1:

[2015-10-27 18:03] #14 closed, assigned to nobody

[2015-10-27 20:19] HarlonWang commented on #14
Thanks again :)

[2015-10-28 02:53] ninjaprox commented on #14
You're welcome :)

[2015-11-05 11:00] JonFir opened #15 "carthage support error"
Hello! I add your library with carthage, but now my project not archived with reason:

ld: bitcode bundle could not be generated because '/Users/tygeddar/mobile_aplication/Pintv/Carthage/Build/iOS/NVActivityIndicatorView.framework/NVActivityIndicatorView' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build for architecture arm

[2015-11-06 07:20] ninjaprox commented on #15
Which Carthage version are you using? I found this release note [0.9.4](https://github.com/Carthage/Carthage/releases/tag/0.9.4). It seems this issue has been resolved in latest Carthage version.

[2015-11-08 11:47] JonFir commented on #15
Hello.
Rly, after update Carthage to last version issue was ended. curiously what all other library work fine in 0.9.4 version. But sorry for interrupting and thank you for fast answer!

[2015-11-08 13:41] ninjaprox commented on #15
You're welcome :)

[2015-11-08 13:41] #15 closed, assigned to nobody

[2015-11-20 00:03] winkelsdorf opened #16 "Allow adjusting Type, Color, Size from Code"
Hi,

just tried to use this from a Storyboard. Would be great to be able to set the above values in code before calling startAnimation() ;)

Creating a PR for it..

Cheers

[2015-11-20 00:06] winkelsdorf commented on #16
PR #17

And yes, I saw the delegate. But that's a bit oversize if you just want to set the color before calling startAnimation().

[2015-11-20 04:23] ninjaprox commented on #16
Nice point :+1:. Merged.

[2015-11-20 04:23] #16 closed, assigned to nobody

[2015-11-20 13:32] winkelsdorf commented on #16
You're welcome! Thanks for the component and merging :)

[2015-11-22 21:24] colasbd opened #18 "Failable initialiser cannot override a non-bailable initializer"
![capture d ecran 2015-11-22 a 16 24 05](https://cloud.githubusercontent.com/assets/4303814/11326357/7bc17644-9135-11e5-862f-50bbcea214ca.png)

[2015-11-25 19:04] ninjaprox commented on #18
Did you compile from drop-in source code or CocoaPods?
I've checked to compile source code itself, it've gone well.

[2015-11-25 19:10] colasbd commented on #18
Yes, from CocoaPods. Finally, I don't use your library.

[2015-11-25 19:42] ninjaprox commented on #18
Which Swift version are you using? I've also tested from CocoaPods with latest Swift version, everything is fine.

[2015-11-25 20:04] colasbd commented on #18
I have two versions of Xcode : 6.4 and 7 (and I use both of them)

Maybe I opened the project with 6.4 !! Can't be sure it was 7.0.

[2015-12-07 12:09] dabing1022 opened #21 "It seems hard to name a animation name.."
Sometimes, It seems hard to name a proper animation name. For example, name a animation class name.

What do you think?

Cheers!

[2015-12-10 05:35] ninjaprox commented on #21
Agree that.
But I think that is not big deal, just think up a name as self-described as possible. Having some meaningful name is at least better than names like `Animation1`, `Animation2`, right?

[2015-12-11 14:55] dabing1022 commented on #21
Can't agree more. :)

[2015-12-11 14:55] #21 closed, assigned to nobody

[2015-12-24 12:22] ninjaprox commented on #18
Close this, reopen if need be.

[2015-12-24 12:22] #18 closed, assigned to nobody

[2016-01-18 18:53] moheny opened #24 "How To Add Text ?"
First Of All , let me start by saying it's a great project !
I've tried to edit it and add Text to the Indicator, but without success.
Is it possible ?

[2016-01-19 05:02] ninjaprox commented on #24
Thank you!
At the moment, it doesn't support text in indicator. Maybe it is coming in the next update. However, your pull request is always welcome.

[2016-03-04 17:28] winkelsdorf opened #25 "Change Size handling, add IBDesignable support"
Ninja,

as a feature suggestion: Please add support for IBInspectable and IBDesignable.
See http://nshipster.com/ibinspectable-ibdesignable/ for details.

This would allow Users settings properties (Type, Color) in Interface Builder.

**Looks like your Init?(coder) is also broken**, if I set a specific size in IB it is not applied during runtime and defaults to NVActivityIndicatorView.DEFAULT_SIZE

[2016-03-04 18:06] winkelsdorf commented on #25
Improvements in #26
- Respects size given in Interface Builder, by init(frame) and code
- Supports IBDesignable in Storyboard

I also replaced your call to super.backgroundColor with backgroundColor. Super is not needed here.

One caveat: IBDesignable does not support enums. I Implemented a wrapper allowing to set the Type by Int. See https://openradar.appspot.com/18224964 and http://stackoverflow

[2016-03-05 08:29] ninjaprox commented on #25
Hi Winkelsdorf,

Supporting IBDesignable in Storyboard is what I intent to do. Now I made it. Great! Thanks for contribution :+1:

Here is answer for your questions about `size`. It is used to specify different size for the animation layer instead of using view's itself. That gives a bit control of the padding and it is useful in my opinion.

About the caveat you mentioned above, if we are using a

[2016-03-05 12:10] winkelsdorf commented on #25
Hi Nguyen,

you're welcome :)

Regarding `type`: I have another Idea. We might use a String-based approach.

[code]

**One caveat with this:** rawValue is case-sensitive (LineScale != linescale). This needs more work to support upper/lowercase combinations of the enum's name representation.

I am now testing an approach extending `rawValue`/`RawRepresentable`. I'll ping you when I'm ready. Not sur

[2016-03-05 14:03] winkelsdorf commented on #25
**"Default Values"**
Association in IB is not supported in the way I wanted. So there's still "Default, On, Off". But that's logical: Default means components default, On = explicitly on and Off = explicitly off.

**String Name**
Sadly enum does not conform to the SequenceType protocol, so enumerating over the values is not possible out of the box. Enum of type String does not allow case-insensiti

[2016-03-07 05:59] ninjaprox commented on #25
Sure, please update your PR.

Regarding `size`, I think we can add `padding` property. By this way, view's size is determined by IB and animation layer's size is calculated automatically base on view's size and `padding`. That would satisfy both requirements :). Your thought on this?

[2016-03-08 22:24] winkelsdorf commented on #25
Sorry for the late reply.

Excellent idea with the `padding`! That would fit both use cases perfectly :+1:

I quickly implemented a single CGFloat padding for all four sides (that is IBInspectable, too). If you need different padding for each of the four sides, please let me know. Tested the changes, working correctly even with padding.

Here we go: https://github.com/winkelsdorf/NVActivityIndicat

[2016-03-09 04:31] ninjaprox commented on #25
:+1:

I think one common padding for 4 sides suffices.
Beside, I will add animation name in demo as I suggested earlier to make usage easier.

Thanks for helping improve this library :)

[2016-03-09 08:58] winkelsdorf commented on #25
You're welcome :) Thank you for creating this library!

To let you know how I use this: I use it on a custom splash screen on App launch when integrating database updates. The splash is based on launchScreen (added subView), I added a fancy logo zoom towards the User for an ImageView on the SubView, and a screen bounce for the initial View behind (both unrelated animations), while the Indicator is

[2016-03-09 08:58] #25 closed, assigned to nobody

[2016-03-09 09:07] winkelsdorf commented on #24
@moheny I won't say add text directly to this library, if it's not going to be animated.

Text can be too different, think about it's position, or attributedText, different font handling for dynamicType and UIAccessibility contrasts (i.e. dark colors, increased contrast, white point). The latter should receive NSNotifications for screen updates etc. This might get a little complex.

Depending on w

[2016-03-09 15:48] AlirezaGhanbarinia opened #27 "How To Add footer list ?"
I appreciated your project.I want to  add footer list. my problem is that this view cover all the page width and It do not accept the size that I put for it.

[2016-03-10 09:35] ninjaprox commented on #27
@AlirezaGhanbarinia: Could you give more details?

[2016-03-10 14:00] AlirezaGhanbarinia commented on #27
I have used indicator = BallPulseSync for loading in list view footer(in list pagination).
the problem is that the balls fill the list's width.
my question is how to set size for balls?

[2016-03-10 18:52] ninjaprox commented on #27
Have you tried `activityIndicatorView.size`? You cannot set size of balls, they are calculated base on `activityIndicatorView.size` instead.
Note that up to `v2.3`, `activityIndicatorView.frame.size` is different with `activityIndicatorView.size`. Therefore, in your case, I think `activityIndicatorView.frame.size.width` = list's width and `activityIndicatorView.size.width` < list's width.

[2016-04-01 04:53] sunlyear opened #29 "Is it possible change the speed of animation?"
I love the providing features in NVActivityIndicatorView, but I wonder if it is possible to manage the speed of animation? I want it to be slower than this.

[2016-04-01 08:19] ninjaprox commented on #29
I think there is one possible way that is changing `layer.speed` (you can check implementation of `startAnimation()`). I also tried setting value less than 1, it makes the animation slower.

[2016-04-08 10:52] martinliu0 opened #30 "Animation appears at (0,0) of frame"
So this is how I set up the activity indicator:

[code]

But in the simulator it looks like this:

<img width="378" alt="screen shot 2016-04-08 at 11 51 45 am" src="https://cloud.githubusercontent.com/assets/2779550/14381714/54827fd0-fd80-11e5-91d7-ff8b7e8db8e5.png">

[2016-04-08 11:50] ninjaprox commented on #30
It seems size of animation layer is calculated before the actual size of view is determined by autolayout.
One quick fix I suggest is to set `frame` to something else if the size is already known.

[2016-04-08 11:50] ninjaprox commented on #29
Close this, reopen if need be.

[2016-04-08 11:50] #29 closed, assigned to nobody

[2016-04-08 11:51] ninjaprox commented on #27
Close this, reopen if need be.

[2016-04-08 11:51] #27 closed, assigned to nobody

[2016-04-08 11:55] martinliu0 commented on #30
That works, thanks!

[2016-04-08 11:55] #30 closed, assigned to nobody

[2016-04-08 12:00] ninjaprox commented on #24
Close this, reopen if need be.

[2016-04-08 12:00] #24 closed, assigned to nobody

[2016-04-11 19:14] winkelsdorf opened #31 "Issue with DEFAULT_PADDING"
Hi there,

today I stumbled about an glitch with the latest changes we made: The animations were cut off.

I checked the changes we made and found that the `animationRect` in `setUpAnimation()` has had a negative value for width and height.

The reason: You set a `DEFAULT_PADDING` of 25 instead of 0 what I proposed in my PR some weeks ago. My animation setup currently is only 25x25, thus the negat

[2016-04-11 22:34] pbassut opened #32 "Why pacman as the default?"
Sure, pacman is awesome, childhood stuff and all.
But, for a production-ready application, who would use that?

Just a thought

[2016-04-12 03:20] ninjaprox commented on #31
In fact, that was my mistake. Will update soon today.

[2016-04-12 03:21] ninjaprox commented on #32
Just my preference. Any suggestion for default?

[2016-04-12 06:37] ninjaprox commented on #31
Updated on latest release.

[2016-04-12 06:37] #31 closed, assigned to nobody

[2016-04-12 10:32] winkelsdorf commented on #31
Thank you very much! Well, that was not a real mistake, already thought you probably just committed a value for testing or something like that.

Keep up the good work 👍

Cheers,
Frederik

[2016-04-22 07:55] jacobarvidsson opened #34 "Unknown class NVActivityIndicatorView in Interface Builder file"
Installing NVActivityIndicatorView using Carthage gives me this error. I've tried most things in these threads: http://stackoverflow.com/questions/33033129/xcode-7-1-swift-2-unknown-class-in-interface-builder-file, http://stackoverflow.com/questions/24924966/xcode-6-strange-bug-unknown-class-in-interface-builder-file ... Any ideas?

[2016-04-22 08:01] jacobarvidsson commented on #34
So I got it to work by doing it the manual way, copying the folder into my project, but would have loved if it worked with Carthage.

[2016-04-23 12:11] ninjaprox commented on #34
@jacobarvidsson: I tried setting `Module` in `Custom Class` to `NVActivityIndicatorView`, it works then. Let's try it and let me know if this helps out.

[2016-05-05 16:52] pbassut commented on #32
I guess something that could be used in a production environment. Like something more formal.
Don't get me wrong, I love pacman. It's just that 80% of the time people are gonna use this lib will have to change the default to something else.

Maybe BallScale is a good pick?

[2016-05-06 10:43] ninjaprox commented on #32
I got your point, that pretty makes sense. Though people likely change to something else, it's still good idea to set default to something more common, as opposed to something fancy but little weird.
I will change the default to another. And thanks for your option as well.

[2016-05-15 08:24] macpraveen opened #35 "Can you pls add this audio equalizer animation ?"
The audio animation from the below link.
http://samherbert.net/svg-loaders/
Svg is here
https://raw.githubusercontent.com/SamHerbert/SVG-Loaders/master/svg-loaders/audio.svg

I'm trying but unable to get it...

[2016-05-15 08:31] macpraveen commented on #35
My current unfinished code

[code]

[2016-05-16 18:14] macpraveen commented on #35
Got it

[code]

[2016-05-18 12:47] ninjaprox commented on #35
@macpraveen: Sorry for delay reply. Pull request is welcome :)

[2016-05-18 13:05] #32 closed, assigned to nobody

[2016-05-26 20:35] maurovz commented on #34
Thanks @ninjaprox that solved my issue.

[2016-06-06 18:30] alanscarpa commented on #34
@ninjaprox Also tried that - but no luck.  Still getting Unknown class in Interface Builder file.  Specifically when I try and call a method on my view, such as animating = true.

[2016-06-12 23:23] basememara commented on #35
I opened a PR (#39) for adding custom animation capability and used @macpraveen's custom animation in the sample demo.

[2016-06-15 06:17] #35 closed, assigned to nobody

[2016-06-15 06:56] ninjaprox commented on #34
@alanscarpa Could you give steps to reproduce your issue? I tried again the above solution in new plain project and it worked well.

[2016-07-01 06:22] skywalkerlw opened #43 "indicator is relative too big"
Only one line of code is used in my project:

`self.startActivityAnimating("Loading...",type: .LineScalePulseOut,color: UIColor.whiteColor(),padding: 0)`

However, it seems it's bigger than demo

![image](https://cloud.githubusercontent.com/assets/2090084/16513426/0bc9542a-3fa8-11e6-9715-1d9d0b79ffab.png)

[2016-07-02 17:35] ninjaprox commented on #43
@wangbourne: You can use `padding` to reduce size of animation. Resizing animation in UI blocker will come in next version.

[2016-07-02 17:35] #43 closed, assigned to nobody

[2016-08-06 20:15] andres-cianio opened #49 "Using from ObjC ?"
Hi there,

I'm using your controller in a swift project, and it's so awesome that I want to use it in another one, an ObjC one. From what I understand I only need to import the framework and I'll be set to go. [(doc)](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html)

But for some reason I can't set the type of the view. Ok, fine, I'll use t

[2016-08-08 01:53] ninjaprox commented on #49
@AndresCianio: Because of using some Swift features, e.g. Enum with methods, default value for parameter, etc, I'm afraid using the control in ObjC has limits and it only support minimal functionalities. Please correct if I'm wrong. However, if you can think of ways to give more support to ObjC, PR is welcome.

[2016-08-08 02:20] andres-cianio commented on #49
I really don't know how the whole Swift -> ObjC conversion works. Thought there might be some kind of issue with the configuration or something like that.
In any case, I'll try to dig deeper and let you know with a PR if I find something useful.
Cheers!

[2016-08-08 02:20] #49 closed, assigned to nobody

[2016-08-09 19:10] rsomlette commented on #34
I've got the same issue using CocoaPods. If I add the NVActivityIndicatorView in the storyboard I get the error whereas if I add it programatically everything works fine.
`Unknown class NVActivityIndicatorView in Interface Builder file.`
However creating a custom class inheriting from NVActivityIndicatorView did the trick...

[2016-08-10 11:15] ninjaprox commented on #34
@Niphery: Have you tried https://github.com/ninjaprox/NVActivityIndicatorView/issues/34#issuecomment-213728956? This may also work.

[2016-08-17 11:00] sagaya opened #52 "Swift 3 in Xcode 8 beta 6"
Am getting a lot of error with xcode 8 beta 6

[2016-08-17 13:38] ninjaprox commented on #52
@cosmo1234: It's supposed to be solved on 3.x releases.

[2016-08-26 11:56] bcamur commented on #52
Hi, any updates on Xcode 8 beta 6 compatibility?

[2016-08-26 13:03] ninjaprox commented on #52
@bcamur: Let's try `swift3` branch. There's also a PR for this but haven't yet merged.

[2016-08-26 14:25] bcamur commented on #52
I have tried but it doesn't compile, I guess the PR you mentioned will solve the issue indeed.

[2016-08-27 17:39] elena-dare opened #54 "cannot load underlying module"
It gives me the following: cannot load underlying module for NVActivityIndicatorView.
9.3 and swift 2

[2016-08-28 13:25] ninjaprox commented on #52
@bcamur: Guess so. Just merged #53, go check `swift3` branch, I think it would help.

[2016-08-28 13:28] ninjaprox commented on #54
@elena-dare: I found some similar questions on SO. Could you check if it solves your problem?

[2016-08-29 07:26] bcamur commented on #52
Yeah it works after the merge , thank you very much for the help.

[2016-08-29 11:13] whisper-bye opened #55 "View is hidden by the stopAnimation method?"
@ninjaprox
// this is my test code

[code]

Even if I wrote self.activityIndicatorView.hidesWhenStopped = false, The view is still hidden?

[2016-08-29 11:48] malkabani opened #56 "NVActivityIndicatorViewable over navigationbar"
hi
i use NVActivityIndicatorViewable to block UI
but alpha view not cover navigationbar
what is the problem???

[2016-08-30 02:01] ninjaprox commented on #56
@malkabani: What version are you using? I think it already fixed in `2.10` as this PR #50.

[2016-08-30 02:08] ninjaprox commented on #55
@whisper-bye: Just checked the code

[code]

When `stopAnimation()` is called, it removes all sublayers. That is why the view looks like hidden regardless `hidesWhenStopped`. Anyway, I will refine this method and behavior, but PR is always welcome.

[2016-08-30 07:20] malkabani commented on #56
I think its last version

[code]

[2016-08-31 17:56] dernster opened #57 "Add delays to start and stop"
Hi! It would be awesome to have support for use cases where:
1. If the time difference between the `startActivityAnimating` and `stopActivityAnimating` calls is below certain threshold (e.g 200 ms), then do not display the corresponding `NVActivityIndicatorView` instance.
2. Once the `NVActivityIndicatorView` is shown, have it stay visible for a minimum amount of time in order to avoid fast flashe

[2016-09-01 14:06] dernster commented on #57
[#58](https://github.com/ninjaprox/NVActivityIndicatorView/pull/58)

[2016-09-03 04:46] ninjaprox commented on #57
@dernster: It's nice idea. For the threshold of time difference, however, I wonder how user can know how long an activity will be lasting and set appropriate value?

[2016-09-03 18:29] dernster commented on #57
@ninjaprox Thanks! I believe that it should be set having in mind something like "If my activity lasts less than 200 ms, then do not even display it". We don't want to bother the real user of the app showing a loading screen if one particular activity lasts for so short. I mean, we can't really know how long an activity will take but we can think about what the minimum duration of an activity is t

[2016-09-04 06:02] ninjaprox commented on #57
@dernster: Now it makes sense to me. Gonna merge the PR and have it in next version.

[2016-09-04 08:20] #52 closed, assigned to nobody

[2016-09-04 08:28] ninjaprox commented on #55
@whisper-bye: I've decided to remove `hidesWhenStopped` in next major release (3.x). The expected behavior now should be that before starting and stopping animating, nothing should be appeared but its background color. Also considering to hide the view itself before starting and after stopping.

[2016-09-04 12:00] iHamzaaK opened #60 "How to add this in an object file rather than using it in view controllers"
Hello,

First of all great work. I just made a wrapper for webservice calling using alamofire. I need to insert your library in that wrapper but since you used it for uiviewcontroller only it is quite not achievable by me. Can you help me out.

[code]

Above is my a function in my wrapper class.

[2016-09-05 12:49] ninjaprox commented on #60
@kevinonik: I'm not sure why the above snippet doesn't work for you, could you explain more? Apart from `UIViewController`, you can purely create `NVActivityIndicatorView` which is subclass of `UIView`and use it by your own way.

[2016-09-05 13:01] ninjaprox commented on #56
@malkabani: I checked `2.10` with simplest case `UINavigationControllerView -> UIControllerView` and it worked properly. Could you check again or give more detail for investigating?

[2016-09-05 14:08] whisper-bye commented on #55
@ninjaprox
Thanks for your work. I will check it out later.

[2016-09-06 00:23] #55 closed, assigned to nobody

[2016-09-06 03:25] dernster commented on #60
@kevinonik you can create a dummy view controller like

[code]

and then use it from anywhere:

[code]

Since the current implementations of the start and stop activity functions don't really need anything from the view controller maybe the framework should **also** expose those methods from a singleton instance or something like that. What do you think? @ninjaprox

[2016-09-06 07:46] zeku2022 opened #62 "hi~I got a problem with it,when I use MBProgressHUD for its customView"
when I use NVActivityIndicatorView as the customView,its frame can't changed,just look like this,I want the activityIndicatorView move to the center of the HUD.,What's the problem?Please help me !!thx a lot!
![qq20160906-1](https://cloud.githubusercontent.com/assets/11352346/18265531/c8c64946-7448-11e6-86e8-a34edd0227df.png)

the code:

[code]

[2016-09-06 13:14] #57 closed, assigned to nobody

[2016-09-06 13:22] ninjaprox commented on #60
Well I think decoupling it from view controller is good idea. With `PresenterViewController` user can display UI blocker wherever and still have convenient call from `UIViewController` that conforms `NVActivityIndicatorViewable`.

[2016-09-06 14:28] ninjaprox commented on #62
@xiaoxiongke: This caused by `intrinsicContentSize`. You can see this note in documentation of `customView` property. `intrinsicContentSize` is used by auto layout system to to calculate constraints and this is exactly what `MBProgressHUD` uses to layout itself and its subviews (`customView` is subview of `bezel` view, the rectangle). `NVActivityIndicatorView` hadn't, however,  returned this value

[2016-09-07 01:30] ninjaprox commented on #57
@dernster: I wrote some tests for your new feature and think you would be interested to check out. It's on `features/UI-blocker` branch.

[2016-09-07 04:08] dernster commented on #57
@ninjaprox I've just reviewed. All tests seems to be good, great job! If I run them separately they all pass, although if I run them all at once some of them fails. Any idea?

Also I'm wondering why this line of code is necessary:

[code]

why we can't just pass the timeInterval as zero?

[2016-09-07 13:04] ninjaprox commented on #57
@dernster: It also happens sometime to me. I think it's due to the timeout. Currently the timeout is quite close to the waiting time. I tried setting to 1.5 and it seemed to be good.

And for the `timeInterval`, I found this in documentation.

Not sure if I'm understanding correctly. Please fix if I'm wrong.

[2016-09-07 18:13] dernster commented on #57
@ninjaprox I'm trying to figure out why the tests don't run all at once.

About the timeInterval, I think that it would be better to do just:

[code]

and if `_timeInterval == 0` then the actual implementation of `scheduledTimerWithTimeInterval` will decide what to do with that (it will use 0.1 ms internally). I think is a better approach since this implementation could potentially change in the f

[2016-09-07 19:29] dernster commented on #57
@ninjaprox I've just checked out the latest changes, all test are working fine (I've tried with and without my suggested change in the previous comment). Just don't forget to use the helper `createActivityData(...)` at `NVActivityIndicatorPresenterTests`. Great work 👍

[2016-09-08 13:37] ninjaprox commented on #57
@dernster: Thanks for you correction and reminder, I almost forgot the helper 😄.

[2016-09-08 18:40] jlubeck commented on #34
I was getting a crash (unknown method sent to instance) when adding the view to the storyboard and trying to start animation from my class. Setting the Module to NVActivityIndicatorView fixed it for me. Thanks @ninjaprox

[2016-09-09 17:17] ninjaprox commented on #54
Close this, reopen if need be.

[2016-09-09 17:18] ninjaprox commented on #62
This is fixed in version [2.11](https://github.com/ninjaprox/NVActivityIndicatorView/releases/tag/v2.11).

[2016-09-09 17:18] #62 closed, assigned to nobody

[2016-09-13 14:06] ollybeck opened #66 "Dragged files into project, can't figure out how to use them"
[code]

I started by making a UIView in storyboard and changing its class to 'NVActivityIndicator' in the file inspector. Then I control-dragged it to my ViewController.swift as an IBOutlet and the code will not compile. I tried to add 'NVActivityIndicator' to the class but end up with 'no such module' error.

The 'NVActivityIndicatorView' folder is copied into my Xcode project, I'm not using pods

[2016-09-14 12:38] ninjaprox commented on #66
@adamgrav: Have you checked if added files in `NVActivityIndicatorView` into Compile Sources in Build Phases? By using Xcode 8 GM, you might want to check `swift2.3` or `swift3` branch instead.

[2016-09-14 17:17] ollybeck commented on #66
@ninjaprox It's working now! I ended up needing to drag each individual .swift file into the Compile Sources, it wouldn't read the folder I added. Thank you!

[2016-09-14 17:17] #66 closed, assigned to nobody

[2016-09-15 06:24] iHamzaaK commented on #60
Thanks

[2016-09-15 11:55] Samback opened #67 "Infinite loop"
[code]

It should be changed to -> `self. stopAnimating()`

[2016-09-15 13:49] #60 closed, assigned to nobody

[2016-09-15 14:22] ninjaprox commented on #67
Thanks for your report! Fixed in `2.12`.

[2016-09-15 14:22] #67 closed, assigned to nobody

[2016-09-15 20:40] otymartin commented on #55
@ninjaprox For some reason, my indicator does not hide when i call `self.activityIndicator.stopAnimating()`

UPDATE:
Nevermind, lousy programming from yours truly 😅

[2016-09-16 01:18] chrisbull opened #68 "Xcode 8 and Swift 3.0?"
Any plans to update to Xcode 8 and Swift 3.0 any time soon?

[2016-09-16 06:41] ninjaprox commented on #68
@chrisbull: Sure. I guess within next week.

[2016-09-16 06:44] ninjaprox commented on #55
@otymartin: What could I do to improve it?

[2016-09-16 08:14] otymartin commented on #55
@ninjaprox it's perfect actually, I haven't had any problems with it at all. One usecase I'm going to attempt (It may be outside the focus scope) is at `startAnimating` -> I would like to automatically blur the view below. I use this library for video so while buffering, it makes for a nice effect.

Thanks alot for the library btw 💯

[2016-09-16 09:37] yangzhixiao opened #70 "Swift 2.3 compatible ?"

[2016-09-16 09:46] ninjaprox commented on #70
@yangzhixiao: Sure, please check out `swift2.3` branch. Let me know if you get any issue.

[2016-09-16 09:51] yangzhixiao commented on #70
It done... ths
pod 'NVActivityIndicatorView', :git => 'https://github.com/ninjaprox/NVActivityIndicatorView.git', :branch => 'swift2.3'

[2016-09-16 09:51] #70 closed, assigned to nobody

[2016-09-16 09:57] ninjaprox commented on #68
@chrisbull: Temporarily, please use `pod 'NVActivityIndicatorView', :git => 'https://github.com/ninjaprox/NVActivityIndicatorView.git', :branch => 'swift3'`

[2016-09-16 14:00] ninjaprox commented on #55
@otymartin: Thanks! Perhaps I think that's good idea to add. I will try, PR is welcome though. 😄

[2016-09-16 16:43] otymartin commented on #55
@ninjaprox I would but Im too new to swift & github (programming in general)😫🙈

[2016-09-17 20:06] alexchan1680 opened #71 "Carthage update fails"
I get following error when trying to use this via carthage.

Xcode version is 8.0 GM Seed. (8A218a)
- Cartfile

github "ninjaprox/NVActivityIndicatorView"
- Error Log

[code]

[2016-09-18 02:08] alexchan1680 commented on #71
Sorry @ninjaprox, I found your latest release does not support current swift3.0 yet.

I will be using "master" branch rather than release.

Thank you.

[2016-09-18 02:08] #71 closed, assigned to nobody

[2016-09-18 03:35] ninjaprox commented on #71
@alexiosdev: No worries. Version `3.0` with Swift 3 support will be being released within next week. Stay tuned :smile:

[2016-09-18 03:37] ninjaprox commented on #68
The `master` branch now is updated to support Swift 3.

[2016-09-18 23:20] MchlG commented on #68
i ran pod update and installed the latest pod but am still getting at least 30 errors in Xcode 8 swift 3.0 . Do you know when this may be fixed? Thanks

[2016-09-19 00:45] ninjaprox commented on #68
@MchlG: Have you specified `master` branch instead of using latest version? Please check my comment above.

[2016-09-19 01:25] MchlG commented on #68
got it thank you!

[2016-09-19 10:40] spensko opened #72 "Long compile time in Pacman"
Hello. Compiling of NVActivityIndicatorAnimationPacman.swift takes a lot of time

[code]

for example another animation only 130ms

`130.8ms /Pods/NVActivityIndicatorView/NVActivityIndicatorView/Animations/NVActivityIndicatorAnimationOrbit.swift:29:10 func ring1InLayer(_ layer: CALayer, size: CGSize, color: UIColor)`

[2016-09-19 12:52] LadyDeveloper commented on #68
I have this error using swift-3 branch
<img width="994" alt="schermata 2016-09-19 alle 14 51 41" src="https://cloud.githubusercontent.com/assets/11472348/18632628/a680e460-7e78-11e6-987c-3e26439ea0c7.png">
How I can fix it?

[2016-09-19 13:57] ninjaprox commented on #68
Version`v3.0` with Xcode 8 and Swift 3 support is now live. 🎉

[2016-09-19 13:57] #68 closed, assigned to nobody

[2016-09-19 13:59] ninjaprox commented on #34
It seems this issue is already solved in Xcode 8.
Close this, reopen if need be.

[2016-09-19 13:59] #34 closed, assigned to nobody

[2016-09-19 14:58] ninjaprox commented on #72
@spensko: Thanks for you report! I investigated and optimized the compile time. This is mainly because of math calculations and can also be applied to optimize other files, especially `NVActivityIndicatorShape`.

[2016-09-19 15:36] spensko commented on #72
Thanks! Swift really not good at basic math :)

[2016-09-19 15:36] #72 closed, assigned to nobody

[2016-09-21 11:52] gokhanakkurt opened #73 "Aligning problem on XCode 8"
I'm having trouble to align the indicator view on storyboard. I have a basic app and single view controller. Indicator is located to the center of view and it spins until the page contents load from the server. However, when I hit the run button, loading indicator is spinning in the right corner of the view, overflowing and not aligning to the center itself.

Scenario can be replicated by followin

[2016-09-21 12:25] gokhanakkurt commented on #73
Creating an instance of `NVActivityIndicatorView` and aligning programmatically always works as you stated in your example. However, storyboard problem still exists.

[code]

[2016-09-21 14:08] siberianisaev commented on #73
Check the frame inside NVActivityIndicatorView.swift
`required public init?(coder aDecoder: NSCoder)`
i have the same issue, width/height constraints set to 100px for activity, but decoded view is 1000x1000px, looks like storyboard bug.

My problem persist only for one screen (split view detail controller), on other (not related to split view) screens all is ok

[2016-09-21 14:18] siberianisaev commented on #73
@gokhanakkurt as workaround try to wrap your activity with _two_ other views inside storyboard (containers with the same size).

[2016-09-21 14:19] gokhanakkurt commented on #73
I've achieved by using storyboard too. However, I don't understand why this is happening.

I placed the view on storyboard and assigned to center both vertically and horizontally constraints. Then I created an `IBOutlet` on `UIViewController`.  I invoke `startAnimating()` function on `viewDidAppear(_:)` as follow:

[code]

It works but not expected one!

[2016-09-21 14:20] ninjaprox commented on #73
I also encounter this issue. Here is my simple check.

[code]

Output

[code]

Regardless different constraints of 2 views, their frame are always 1000x1000. Any idea why this's happening? Is there a change on layout or `UIViewController` life cycle on iOS 10?

[2016-09-21 14:25] gokhanakkurt commented on #73
@ninjaprox I'm thinking of the same thing. I'll look at the lifecycle of `UIViewController`.

[2016-09-21 15:14] gokhanakkurt commented on #73
@ninjaprox I haven't seen any change in lifecycle.  Any update?

[2016-09-21 16:04] siberianisaev commented on #73
Interesting it's content size ![content size](https://dl.dropboxusercontent.com/u/25357310/NVActivityIndicatorView_issue73.png)

[2016-09-21 16:30] gokhanakkurt commented on #73
@siberianisaev just saw [this](http://stackoverflow.com/a/39541653/1129468) and [that](http://stackoverflow.com/a/39589860/1129468) on `StackOverflow`.  These could clarify the issue.

[2016-09-21 17:40] siberianisaev commented on #73
Workaround:
1. create **container** for activity in storyboard
2. then add activity in **viewDidLayoutSubviews**

`fileprivate weak var activity: NVActivityIndicatorView?

    override func viewDidLayoutSubviews() {
        super.viewDidLayoutSubviews()

        addActivity()
    }

    fileprivate func addActivity() {
        if nil == activity {
            let frame = container.bounds

[2016-09-21 19:34] siberianisaev commented on #73
[code]

in -viewDidLoad just reset frame

[code]

[2016-09-21 20:26] gokhanakkurt commented on #73
@siberianisaev Your suggestions are OK but we should keep digging into the problem to find the root cause. If it's bug of `XCode 8`, it's not necessary to create workarounds here. The only thing we need is to wait for next release for `XCode`.

[2016-09-21 20:41] siberianisaev commented on #73
Constant 1000x1000 size suggests the idea that interface object is not properly decoded by Xcode 8. Probably width/height replaced by value of some constraint priority (@ 1000).

[2016-09-22 12:13] ninjaprox commented on #73
I think this is mostly bug in Xcode 8. Workaround may be needed in the meantime waiting for Xcode update.

[2016-09-22 17:22] pilot34 commented on #73
I overrode `NVActivityIndicatorView` and added such hack. That helped.

[code]

[2016-09-22 17:27] siberianisaev commented on #73
@pilot34 missed cases with using `aspect` constraint + (`width` OR `height` constraint).

[2016-09-23 15:59] siberianisaev commented on #73
Similar issues:
- https://forums.developer.apple.com/thread/63489
- https://openradar.appspot.com/28325425
- http://stackoverflow.com/questions/39578530/since-xcode-8-and-ios10-views-are-not-sized-properly-on-viewdidlayoutsubviews

[2016-09-27 17:23] jitaek commented on #73
Hopefully we get a proper fix, but simply adding `layoutIfNeeded()` to my `UITableViewCell`'s `awakeFromNib` function fixed this problem.

[2016-09-27 23:13] skywalkerlw opened #74 "Xcode8 swift3 problem"
i'm using:
Xcode8
swift: 3
cocoapods:1.1.0 rc2
NVActivityIndicatorView: 3.0
iPhone7 simulator

i have other frameworks in pod files, but only NVActivityIndicatorView has following errors when trying to build in Xcode

Undefined symbols for architecture x86_64:
  "(extension in NVActivityIndicatorView):NVActivityIndicatorView.NVActivityIndicatorViewable<A where A: __ObjC.UIViewController>.stopAnima

[2016-09-28 04:58] skywalkerlw commented on #74
finally, my temp solution is to include source code directly into my project, rather than via cocoapod. However, i'm still expecting to use pod later :)

[2016-09-28 05:45] NidhiJoshi7 commented on #54
I have the same issue. If you solve this issue.. then please guide me to solve this. I am working with swift 2.3

[2016-09-28 12:33] ninjaprox commented on #74
@wangbourne: Could you try clear the project, delete `Pods` folder, then install pods again? Let me know if it helps.

[2016-09-28 12:34] ninjaprox commented on #54
@NidhiJoshi7: Could you try clean the project, delete `Pods` folder, then install pods again. Let me know if it helps.

[2016-09-28 12:39] NidhiJoshi7 commented on #54
I have tried that so many times.. but still the same. Can you please
tell me another way to solve this?

On 2016-09-28 08:34, Vinh Nguyen wrote:

##

Nidhi Joshi -IOS Developer-Rotan Technology L.L.C.
Email : nidhi@rotauae.com

[2016-09-28 13:01] ninjaprox commented on #54
@NidhiJoshi7: I'm assuming that you've known how to configure `Podfile` to work with Swift 2.3. I've tested myself and it works properly. Just put it here for later reference.

**_Podfile_** (I'm using `1.0.1`)

[code]

Let me know if this works for you.

[2016-09-28 21:30] skywalkerlw commented on #74
yes, i have tried many times even after rebooting mac, it does not work

On 28 September 2016 at 22:33, Vinh Nguyen notifications@github.com wrote:

[2016-09-29 13:58] ninjaprox commented on #74
@wangbourne: Could you send the snippet where you're using `NVActivityIndicatorView`? I tried myself with the simplest case and it works well.

[2016-09-29 16:07] Pistacchione opened #75 "startAnimating in NVActivityIndicatorViewable"
Hi,

is it possible to change the background color of loading panel when is called with startAnimating inside a NVActivityIndicatorViewable conform class?

Thanks

[2016-09-29 19:01] jwelton commented on #74
I too seem to be getting this issue, however for me it only seems to happen when in an extension. For example, I extend from `UIViewController` to implement `NVActivityIndicatorViewable`. In my example, I only get the error when calling something within the library, such as `stopAnimation()`. It's worth nothing, I have used Carthage to install, not Cocoapods.

[2016-09-29 21:49] skrosoft opened #76 "Extraneous argument label 'size:' in call"
Hello,

I have updated my project to Swift version 3 and NVActivityIndicatorView 9 issues

![image](https://cloud.githubusercontent.com/assets/4645565/18973691/33332400-8675-11e6-8fb3-fa5abf8d4549.png)

It seems that the "size:" label is now useless. Any idea?

Edit: I have 15 issues

Vincent

[2016-09-30 02:41] ninjaprox commented on #76
@skrosoft: What Cocoapods version are you using? I guess `1.1.0.rc.2`will solve this.

[2016-09-30 02:44] ninjaprox commented on #75
@Pistacchione: Unfortunately not for now. PR is always welcome though.

[2016-09-30 03:11] skrosoft commented on #76
@ninjaprox i am already using version 1.1.0.rc.2.

[2016-09-30 03:16] skrosoft commented on #76
I think you should remove all your "size:" label.

Example: https://github.com/ninjaprox/NVActivityIndicatorView/blob/master/NVActivityIndicatorView/Animations/NVActivityIndicatorAnimationCubeTransition.swift line 64

The same occurs with the "angle:" label in another files.

[2016-09-30 03:28] ninjaprox commented on #76
@skrosoft: It's needed as [here](https://github.com/ninjaprox/NVActivityIndicatorView/blob/master/NVActivityIndicatorView/NVActivityIndicatorShape.swift#L23). How about clean up project, pods, deintegrate then try again?

[2016-09-30 03:35] skrosoft commented on #76
Maybe the XCode automatique converter to Swift 3 has modified your code.

I have removed the pod from the Podfile, executed "pod install"
I have added the pod in the Podfile, executed "pod install"

It seems to be now ok, thank you.

[2016-09-30 03:39] ninjaprox commented on #76
You're welcome! Thanks for reporting! Let me know if encountering any other issues.

[2016-09-30 03:39] #76 closed, assigned to nobody

[2016-10-02 10:37] marxfr opened #77 "Switching from portrait to landscape and vice versa"
Hi,

when I switch from portrait to landscape mode the animation is not in the center anymore where it used to be before. The containing view rotates appropriately but the animation just stays where it used to stay before.

Cheers,

Frank

[2016-10-02 10:49] marxfr commented on #77
Hi,

I found a workaround. I just need to detect when the orientation has changed and the stop() and start() the animation again - then it is entered.

Cheers,

Frank

[2016-10-02 10:49] #77 closed, assigned to nobody

[2016-10-02 12:42] iHamzaaK opened #78 "Orientation Support"
Can u please advise me how to handle orientation of the NvActivityIndicatorView. For now the view is displaced when i switch to landscape mode.
@ninjaprox
Thanks in advance.

[2016-10-02 12:45] ninjaprox commented on #78
@kevinonik: There's a workaround here #77, you could try. I'll add orientation support in next version.

[2016-10-02 12:51] ninjaprox commented on #74
@jwelton: I tried with this snippet

[code]

and it works well. Wonder if your example looks like this?

[2016-10-02 13:49] jwelton commented on #74
@ninjaprox That's different to mine. Mine was in an extension to UIViewController. For example:

[code]

[2016-10-02 14:33] ninjaprox commented on #74
@jwelton: `NVActivityIndicatorViewable` itself is both protocol and extension that add method to `UIViewController` ([here](https://github.com/ninjaprox/NVActivityIndicatorView/blob/master/NVActivityIndicatorView/NVActivityIndicatorViewable.swift#L18)). So I guess the above code is invalid in Swift that causes compile error. If it's `UIViewController`, it's no need to do as above. However, that's

[2016-10-02 14:36] jwelton commented on #74
Tbh it could of been `NVActivityIndicatorPresenter` that I was using anyway. I was writing the above from memory, so must of just got the naming wrong.

[2016-10-02 14:41] ninjaprox commented on #74
Could you help check again and update later?

[2016-10-02 14:49] jwelton commented on #74
@ninjaprox I've just checked the git history. Actually my original code was correct. I was inheriting from NVActivityIndicatorViewable, which would tie in with what you were saying. For completeness, here was my code (not working):

[code]

I guess that would mean I was conforming `UIViewController` to `NVActivityIndicatorViewable` twice. Makes sense for it to fail really.

[2016-10-02 14:54] ninjaprox commented on #74
@jwelton: Thanks for your clarification.
@wangbourne: Are you using the same way we've been discussing here?

[2016-10-04 01:35] devSC opened #79 "Custom message label width?"

[2016-10-04 20:02] zhenjiangliu24 commented on #79
I have the same question, cause in iphone SE, the message text will be truncated if message too long.

[2016-10-06 13:56] ninjaprox commented on #79
It's not supported at the moment. PR is always welcome though.

[2016-10-06 13:58] ninjaprox commented on #56
Close this, reopen if need be.

[2016-10-06 13:58] #56 closed, assigned to nobody

[2016-10-08 18:20] LarsWith opened #80 "NVActivityIndicatorView added with storyboard sometimes ignore contraints"
I have noticed that if I add the NVActivityIndicatorView with storyboard it sometimes ignores the contraint I set in storyboard. I dont get any error/warnings but a 55x55 loader ended up being 1000x1000 in size and stuck to the bottom left corner.

I think this happens when you have alot of UI going on in your VC added with storyboard - I dont see this happen when added with code or in light VC's

[2016-10-09 06:16] ninjaprox commented on #80
@LarsWith: There's a related issue #73.

[2016-10-09 08:23] Mehrdadmaskull opened #81 "Stop Animation doesn't work when viewControllers are presenting/dismissing"
**Steps to reproduce:**
Have a tableView in a viewController, add the loading, go to another viewController, do something network-related, add another loading, stop the loading animation after you receive a response, call a delegate method back and dismiss the current viewController, stop the animation in the delegate method, _nothing happens_.

I dug into the code and changed the following inside

[2016-10-13 13:26] Nirav08 opened #82 "How to pause animation"
Hi,
I have used Pulse animation in my app but I want to pause it.

I want to pause all bars as the each bar have it's position as it is.

Is there any feature available for this?

Thank you,

[2016-10-13 14:40] ninjaprox commented on #82
@Nirav08: Unfortunately, start and stop are only supported for now.

[2016-10-13 20:47] the-freshlord opened #83 "Setting user defined inspectables in interface builder causes crash."
Hi,

when creating an instance in interface builder, and setting the inspected properties available, I get this error in the console when running an app that I am building: `
Failed to set (color) user defined inspected property on (UIView): [<UIView 0x7b63ba40> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key color.
2016-10-13 16:41:27.470
`.

[2016-10-14 05:51] ninjaprox commented on #54
Close this, reopen if need be.

[2016-10-14 05:51] #54 closed, assigned to nobody

[2016-10-14 05:51] ninjaprox commented on #74
Close this, reopen if need be.

[2016-10-14 05:51] #74 closed, assigned to nobody

[2016-10-14 05:52] ninjaprox commented on #75
Close this, reopen if need be.

[2016-10-14 05:52] #75 closed, assigned to nobody

[2016-10-14 05:52] ninjaprox commented on #80
Close this, let's discuss on #73.

[2016-10-14 05:52] #80 closed, assigned to nobody

[2016-10-14 14:07] ghost opened #84 "Swift 3.0 compiler error"
I have got this error after pulling mater branch with pod file.
I have used `pod 'NVActivityIndicatorView'` and got this compiler error.

[code]

I got this errors on NVActivityIndicatorPresenter line 149, 153 in show / hide methods.

[2016-10-17 23:26] GuilhermeMachado commented on #83
Same problem

[2016-10-20 09:23] ghost opened #85 "..."
..

[2016-10-23 09:27] #85 closed, assigned to nobody

[2016-10-23 16:00] ghost opened #86 "How to check animation is starting?"
Hi everybody
I can't find any method/property for check animating start in view? (like isAnimating)
for example start animating in viewWillAppear function and i want when tableview is reloading and finish work in didEndDisplaying func; stop animating...
Thank's

[2016-10-24 05:22] ninjaprox commented on #86
@ghasim: Please check [README](https://github.com/ninjaprox/NVActivityIndicatorView#control) first. Let me know if it's what you're looking for.

[2016-10-24 05:23] #82 closed, assigned to nobody

[2016-10-24 08:29] ghost commented on #86
[This](https://github.com/ninjaprox/NVActivityIndicatorView#control) solution is very bad. I had to define
`var activityIndicatorView = NVActivityIndicatorView(frame: frame, type: type, color: color, padding: padding)`
in viewDidLoad and when can't use activityIndicatorView in another function ! if define local variable
`let activityIndicatorView = NVActivityIndicatorView()`
code is error: Cannot

[2016-10-24 13:34] ninjaprox commented on #81
@Mehrdadmaskull: `keyWindow` is used to add overlay view on top-most window so that it covers all beneath views. In your case, I guess that going to another view controller creates a new window on top of the one you added the loader. You could try debugging `windows` to see if there's new window added.

[2016-10-24 13:57] ninjaprox commented on #83
@eman6576, @GuilhermeMachado: Setting Module to `NVActivityIndicatorView` will help. Reference #34.

![screen shot 2016-10-24 at 9 58 15 pm](https://cloud.githubusercontent.com/assets/4948012/19648587/1a522e62-9a35-11e6-803e-90b4e90ce4fa.png)

[2016-10-24 13:57] #83 closed, assigned to nobody

[2016-10-24 14:00] ninjaprox commented on #34
Even in Xcode 8, setting Module to `NVActivityIndicatorView` is needed.

![screen shot 2016-10-24 at 9 58 15 pm](https://cloud.githubusercontent.com/assets/4948012/19648616/3a0c13d0-9a35-11e6-8017-ac609c4b5780.png)

[2016-10-24 14:06] ninjaprox commented on #84
@fxpage: Please try cleaning up project as well as pods, then install again with latest CocoaPods. Reference #76.

[2016-10-24 14:16] ninjaprox commented on #86
@ghasim: Please give snippet, it helps figure out solution for your use case.

[2016-10-24 22:49] Drusy commented on #29
Setting a layer speed value less than 1 makes the animation stuck, any idea ?

[2016-10-25 18:18] smileatom opened #87 "pod try project sigabrt"
dyld: Library not loaded: @rpath/NVActivityIndicatorView.framework/NVActivityIndicatorView
  Referenced from: /var/containers/Bundle/Application/3CD7E242-1093-4469-8A48-6EA1505B5307/NVActivityIndicatorViewDemo.app/NVActivityIndicatorViewDemo
  Reason: image not found

[2016-10-26 13:03] ninjaprox commented on #87
@rendion: What pod version are you using? I tried with `1.1.1`, it worked then.

[2016-10-26 13:38] v-silin commented on #73
If this still actual issue for someone, I fixed it by calling updateConstraints and layoutIfNeeded before start animations.

[2016-10-26 14:59] smileatom commented on #87
Im on 1.1.1 as well.

[2016-10-27 14:38] #84 closed, assigned to nobody

[2016-10-27 14:39] ghost commented on #84
@ninjaprox it worked! Thanks for your support.

[2016-10-27 14:47] ghost commented on #84
@ninjaprox it doesn't bring me compile error, but it's nil during runtime.

[code]

I'm trying to integrate your indicator to iMessage app extension, and please let me know how can I handle this error.

[2016-10-28 04:16] ninjaprox commented on #84
@fxpage: You're welcome 😄. If you're using in app extension, I suggest creating instance of `NVActivityIndicatorView` and using it directly as maybe there's no window in app extension, then `NVActivityIndicatorPresenter` won't work. Let me know if it helps.

[2016-10-28 08:45] ninjaprox commented on #73
This has been fixed in Xcode 8.1 🎉.

[2016-10-28 08:45] #73 closed, assigned to nobody

[2016-10-31 12:02] unittesting0 opened #88 "Crash when .startAnimating() or setting the type"
I'm having a crash when I want to startAnimating or when setting .type

I'm using it on Cell

[2016-10-31 14:12] unittesting0 commented on #88
I fixed it converted from Swift 3 to 2.3 and it works.

ninjaprox when you see this close.

[2016-11-02 05:50] freegyp opened #89 "Module compiled with Swift 3.0 cannot be imported in Swift 3.0.1"

[2016-11-04 15:44] MchlG opened #90 "75 warnings in Xcode 8.2 Swift 3"
I tried to use the most recent pod version pod 'NVActivityIndicatorView' in my Swift 3 project in Xcode 8.2 but i get 75 warnings and Xcode offers to "convert to latest syntax". I ran pod update and still get same errors. Isn't the project supposed to work in Swift 3?

[2016-11-05 06:26] henryhardy commented on #90
Same issue.

[2016-11-05 06:53] ninjaprox commented on #90
@MchlG: No, it isn't. The problem may be due to Xcode 8.2. If you try in Xcode 8.1 or 8.0, it's supposed to compile without any warning or error.

[2016-11-05 06:57] ninjaprox commented on #89
@freegyp: I guess you're using Xcode 8.2. Please elaborate on this issue.

[2016-11-05 06:57] #88 closed, assigned to nobody

[2016-11-07 12:23] yunhe-lin opened #91 "UI Issues"
can we set loadingView backgroundcolor ?
i think it is easy and practical func .

[2016-11-07 14:10] MchlG commented on #90
Do you mean to say ... No, it is not supposed to wok with Swift 3?

[2016-11-07 14:13] ninjaprox commented on #90
@MchlG: I meant it does support, sorry for misleading.

[2016-11-07 14:15] ninjaprox commented on #86
Close this, reopen if need be.

[2016-11-07 14:15] #86 closed, assigned to nobody

[2016-11-08 00:22] MchlG commented on #90
Ok thanks, will give it a try in Xcode 8.1 soon

[2016-11-08 22:35] ninjaprox commented on #91
@yunhe-lin: you meant `indicatorView.backgroundColor`? If so, yes you can. To change the animation color, use `indicatorView.color`.

[2016-11-09 03:25] XXboy opened #92 "I don't need full screen"
I don't need full screen, then how can I set?

[2016-11-09 12:15] ninjaprox commented on #92
@XXboy: Simply create and use instance of `NVActivityIndicatorView`.

[2016-11-10 18:25] ahaverty commented on #90
I'm hitting this issue in Xcode 8.2, but my colleague, also using 8.2, isn't seeing any issues.

[2016-11-10 18:51] ahaverty commented on #90
I'm not sure why, but adding `source 'https://github.com/CocoaPods/Specs.git'` to my podfile prevented the convert popup in Xcode 8.2
I followed the readme of https://github.com/antoninbiret/ABSteppedProgressBar which was also throwing the convert popup.

[2016-11-11 04:10] ninjaprox commented on #90
@ahaverty: Sorry, I haven't checked in Xcode 8.2 yet. However, as you described above, you could try `pod install --repo-update`, let me know the result.

[2016-11-11 04:11] ninjaprox commented on #81
Close this, reopen if need be.

[2016-11-11 04:11] #81 closed, assigned to nobody

[2016-11-11 09:21] ahaverty commented on #90
Adding `source 'https://github.com/CocoaPods/Specs.git'` to my podfile actually fixed it. It must do something similar to `pod install --repo-update`? Thanks for the help

[2016-11-14 09:31] lucasjinreal opened #93 "Add NV as subview when stopAnimating to present alertVC all fail"
stop animating of NV, and call to present alertVC, it won't present automatically except user touch the screen again, anyone know why?
[code]

[2016-11-15 13:27] ninjaprox commented on #87
Close this, reopen if need be.

[2016-11-15 13:27] #87 closed, assigned to nobody

[2016-11-15 13:29] #90 closed, assigned to nobody

[2016-11-15 13:29] ninjaprox commented on #92
Close this, reopen if need be.

[2016-11-15 13:29] #92 closed, assigned to nobody

[2016-11-15 13:29] ninjaprox commented on #91
Close this, reopen if need be.

[2016-11-15 13:29] #91 closed, assigned to nobody

[2016-11-15 13:30] ninjaprox commented on #89
Close this, reopen if need be.

[2016-11-15 13:32] ninjaprox commented on #93
@jinfagang: Please elaborate on this. It seems the issue isn't because of `NVActivityIndicatorView`.

[2016-11-19 08:52] ghost commented on #84
@ninjaprox, Thanks for your update.
Can you post some sample code for creating instance?

[2016-11-19 14:01] ninjaprox commented on #84
@fxpage: I think you can try checking [this](https://github.com/ninjaprox/NVActivityIndicatorView#initialization).

[2016-11-24 14:21] ghost commented on #84
@ninjaprox, I have upgraded cocoapod version to 1.1.1 from 1.0.1, and I got the same issue.
I have cleaned up project as well as pods, then install again, but no luck.

Please let me know what should I do to fix the issue.
Thank you for your patience.

[2016-11-24 17:13] douglas-srs opened #94 "Default Block Message"
Can we get something like this?

NVActivityIndicatorView.DEFAULT_BLOCKER_MESSAGE = "Loading..."

[2016-11-27 12:07] ninjaprox commented on #94
@douglas-srs: Sure, PR is welcome.

[2016-11-27 12:12] ninjaprox commented on #84
@fxpage: You meant that you managed to fix the issue with CocoaPods `1.0.1` but it happened again with `1.1.1`?

[2016-11-30 08:28] seenoevo opened #95 "Cannot see loading indicator animation?"
Hi, I have copied the NVActivityIndicatorView folder to my project along with adding all the files in the NVActivityIndicatorView folder to the Compile Sources within Build Phases.

I do not want to use Cocoapods to install so am doing it the manual way as instructed.

I added the following code to my class before data is pulled from database:

[code]

However, I do not see any loading animation a

[2016-12-01 03:41] freegyp commented on #89
Sorry I didn't check. I'm using Xcode 8.1 actually.

[2016-12-01 03:49] freegyp commented on #89
It didn't have this problem when I tried to use Xcode 8. But it seems like I cannot deploy the project on my iPhone with system upgraded to 10.1.1 if I use the old Xcode 8. BTW, I need to reopen this issue now.

[2016-12-01 04:44] seenoevo commented on #95
Brain fart....forgot to add `activityView` as a SubView using `sponsorsTableView.addSubview(activityView)`

[2016-12-01 04:44] #95 closed, assigned to nobody

[2016-12-02 21:36] iDevid opened #96 "Change UI block container background"
Can you permit to modify the Activity Container when using startAnimating() func?

[2016-12-04 06:10] ninjaprox commented on #96
@iDevid: Could you elaborate more?

[2016-12-04 10:19] ninjaprox commented on #89
@freegyp: How about explicitly set Swift version in Podfile? This might be the same problem with migration from Swift 2.x to 3.0.

[2016-12-04 10:23] ninjaprox commented on #93
Close this, reopen if need be.

[2016-12-04 10:23] #93 closed, assigned to nobody

[2016-12-04 11:53] ninjaprox commented on #79
@devSC @zhenjiangliu24: Instead of custom message width, now you can set custom font. The width will be auto adjusted to the message but not larger than screen's width. `3.1` is shipped with this feature. 🚀

[2016-12-04 11:53] #79 closed, assigned to nobody

[2016-12-04 11:55] ninjaprox commented on #89
@freegyp: `3.1` is shipped with Swift `3.0.1`, hope this would help solve this issue.

[2016-12-04 11:55] ninjaprox commented on #94
@douglas-srs: `3.1` is shipped with this feature. 🚀

[2016-12-04 11:55] #94 closed, assigned to nobody

[2016-12-04 12:08] ninjaprox commented on #78
@kevinonik: It seems to work without any addition. I checked it myself however if you still have this problem, please let me know. Close this, reopen if need be.

[2016-12-04 12:08] #78 closed, assigned to nobody

[2016-12-05 05:00] freegyp commented on #89
I'm sure I have updated it to 3.1 now, but it still have this problem.

[2016-12-05 12:10] ninjaprox commented on #89
@freegyp: I tried with this spec Xcode 8.1, Swift `3.0.1`, Cocoapod `1.1.1` and `3.1` and it went well. I suggest cleaning pods and installing again. If still have issue, please provide more information such as screenshots, snippet, etc. to investigate.

[2016-12-06 13:35] SebastianKumor opened #97 "Same animation"
Hello, it might be that i am going blind but animation 23 and 29 seem like the same one when i run it in my app.

Edit: sorry my bad, just made it work

[2016-12-06 13:48] #97 closed, assigned to nobody

[2016-12-07 08:49] devSC commented on #79
@ninjaprox  Thanks.

[2016-12-15 09:10] stevenkitter opened #98 "cannot use NVActivityIndicatorAnimationDelegate"
i want to realize my own animation，but i can not access the delegate
![829fc90e-1bd5-4c37-b4ca-11ac16bb6d5b](https://cloud.githubusercontent.com/assets/12658782/21217866/5385fede-c2e9-11e6-923f-4ab8315aacd3.png)

[2016-12-15 17:54] ayunav opened #99 ""Unknown class NVActivityIndicatorView in Interface Builder file" Error"
Hi,

Love your framework, and I was trying to set up a UIView property via IB.

<img width="259" alt="screen shot 2016-12-15 at 12 51 16 pm" src="https://cloud.githubusercontent.com/assets/12476189/21235569/51245ef2-c2c5-11e6-8c7b-e7bcd8e6056d.png">

<img width="260" alt="screen shot 2016-12-15 at 12 51 33 pm" src="https://cloud.githubusercontent.com/assets/12476189/21235568/4f191558-c2c5-11e6-91f

[2016-12-16 22:01] iDevid commented on #96
The Activity Container when you use startAnimating() is only black opaque and you can't modify it

[2016-12-17 11:33] ninjaprox commented on #98
@stevenktter: At the moment, it doesn't support custom animation so `NVActivityIndicatorAnimationDelegate` isn't public. This feature may be opened in next version.

[2016-12-17 11:33] #98 closed, assigned to nobody

[2016-12-17 11:36] ninjaprox commented on #99
@ayunav: The first note in [Initialization](https://github.com/ninjaprox/NVActivityIndicatorView#initialization) mentions this so all things you need to do is to set `Module` to `NVActivityIndicatorView`. Hope this helps. 😄

[2016-12-17 11:36] #99 closed, assigned to nobody

[2016-12-18 20:24] barnaclejive commented on #96
@ninjaprox I think @iDevid is referring to the activityContainer background color - make it an optional UIColor attribute of ActivityData. Currently it is hardcoded to 50% alpha black. I could see cases where you would want it to be clear, opaque, or just some other translucent color.

Personally, I would use a clear color since my activities are short. The convenience of NVActivityIndicatorViewab

[2016-12-19 07:17] abhinavnair opened #101 "Carthage failed with exit code 65"
I am having trouble installing with Carthage.
I ran - `carthage update --platform iOS --no-use-binaries`
I am using this on macOS Sierra with Xcode 8.2 and targetting Swift 3.0.1. I have successfully installed it on another system with the exact same configuration yesterday but not able to do so on this one.

My cartfile has this line - `github "ninjaprox/NVActivityIndicatorView" "v3.1"`

The erro

[2016-12-19 11:41] vincentsaluzzo commented on #101
Resolved in #102

[2016-12-19 11:42] vincentsaluzzo commented on #101
waiting for PR approval by @ninjaprox

[2016-12-19 12:43] ninjaprox commented on #96
@barnaclejive: Thanks for clarification. It makes sense to have this to make the library more flexible.

[2016-12-19 13:08] #96 closed, assigned to nobody

[2016-12-20 12:56] ninjaprox commented on #101
@abhinavnair, @vincentsaluzzo: Merged to `carthage` branch, please use it instead of `master` for the moment.

[2016-12-20 12:56] #101 closed, assigned to nobody

[2017-01-03 05:40] codalamanp opened #103 "Crash by IBOutlet"
I am not able to use this view while I am creating the outlet of this view.

[2017-01-03 10:20] TamilRaja opened #104 "Stop Indicator"

[2017-01-03 10:39] #104 closed, assigned to nobody

[2017-01-04 10:12] ninjaprox commented on #103
@codalamanp: Please refer this issue #99.

[2017-01-04 10:12] #103 closed, assigned to nobody

[2017-01-04 10:12] ninjaprox commented on #89
Close this, reopen if need be.

[2017-01-04 10:12] #89 closed, assigned to nobody

[2017-01-05 22:00] theceremony opened #105 "Carthage install fails"
The following build commands failed:
	Check dependencies
(1 failure)
A shell task (/usr/bin/xcrun xcodebuild -project "/Users/jeramymorrill/Work Bench/blueberry/Blueberry-Voice-Recorder/Carthage/Checkouts/NVActivityIndicatorView/NVActivityIndicatorView.xcodeproj" -scheme NVActivityIndicatorView -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_RE

[2017-01-09 02:26] walsht commented on #105
+1

[2017-01-09 02:26] lzhlewis2015 commented on #105
I face the same problem just now

[2017-01-09 02:27] walsht commented on #105
I found this... https://github.com/ninjaprox/NVActivityIndicatorView/issues/101

[2017-01-09 02:46] lzhlewis2015 commented on #105
@walsht I change the SWIFT_VERSION to 3.0 ,but when I run carthage udpate ,the file run back to the origin one (SWIFT_VERSION) ,how do you solve this problem?

[2017-01-09 05:26] ninjaprox commented on #105
@theceremony, @lzhlewis2015:  How about using `carthage` branch? I hope it would help.

[2017-01-10 02:32] lucasjinreal opened #106 "pod install just got 2.9 not 3.0"
simply pod 'NVActivityIndicatorView', but when I pod install, it only got 2.9 version, I am using Swift3, how can I got the 3.0 version?

[2017-01-10 04:28] ghost opened #107 "Type 'NVActivityIndicatorPresenter' has no member 'sharedInstance'"
# Context
Swift 2.3

# Installation
Using Carthage:
`github "ninjaprox/NVActivityIndicatorView" "swift2.3" `

# Code
[code]

# Error
<img width="681" alt="capture d ecran 2017-01-10 a 05 26 43" src="https://cloud.githubusercontent.com/assets/385357/21793859/6c6d20d8-d6f5-11e6-907d-1e9a5bc9295a.png">

[2017-01-10 14:28] ninjaprox commented on #106
@jinfagang: Hmm... it's weird. I've just tried myself and got 3.1 (the latest one). How about `pod 'NVActivityIndicatorView', '3.0'`?

[2017-01-10 14:33] ninjaprox commented on #107
@Domsware: Oh the `sharedInstance` was internal. Updated, should work now.

[2017-01-10 14:33] #107 closed, assigned to nobody

[2017-01-10 15:28] ghost commented on #107
Great! It works!

[2017-01-12 05:30] lzhlewis2015 commented on #101
@ninjaprox thank you for answer my question , but I just dont't know how to user Carthage to merged to the carthage branch . I just add     "github ninjaprox/NVActivityIndicatorView" to the cartfile and run "carthage update "  ,can you tell the detail method that I can use the "carthage" branch  .

[2017-01-12 12:35] ninjaprox commented on #101
@lzhlewis2015: It should be `github ninjaprox/NVActivityIndicatorView "carthage"`. You can also check [this reference](https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#version-requirement).

[2017-01-13 12:09] WaqarKhalid opened #108 "Can not import NVActivityIndicatorView in Class"
After installing via cocoapods and even manually I can not import file in my view controller class and error comes there when I try to add

[2017-01-13 12:56] vitalii-tym commented on #108
@WaqarKhalid  If you did manual installation you don't have to import anything. Files are already in your project and are supposed to be included in Compile Sources in Build Phases (double-check if they are there). So just use it.

[2017-01-13 20:02] ozgur opened #109 "Updating message programmatically after the indicator appears"
Hi @ninjaprox,

I've looked at the demo and gone through the code but couldn't figure out how to update the message after the loading indicator appears. Is there a way to do that?

Thanks.

[2017-01-14 14:42] ninjaprox commented on #109
@ozgur: It's great to add in this feature. 👍

[2017-01-14 14:42] #109 closed, assigned to nobody

[2017-01-14 14:46] ninjaprox commented on #108
@WaqarKhalid: And if you're using CocoaPods, make sure adding `import NVActivityIndicatorView` in files using the library as in [USAGE](https://github.com/ninjaprox/NVActivityIndicatorView#usage).

[2017-01-14 18:27] WaqarKhalid commented on #108
I double checked.All files are added in the build phases and when I try to import them in any controller file then it gives me error.

[2017-01-15 05:26] ninjaprox commented on #108
@WaqarKhalid: Please provide error for investigation.

[2017-01-15 23:44] midgard opened #111 "An message"
I'm using facebook login.

My app going to facebook (app) and come back, and i'm starting animation.

And i'm getting this:

Snapshotting a view that has not been rendered results in an empty snapshot. Ensure your view has been rendered at least once before snapshotting or snapshot after screen updates.

[2017-01-16 04:49] WaqarKhalid commented on #108
![screen shot 2017-01-16 at 9 47 56 am](https://cloud.githubusercontent.com/assets/22659056/21971291/fe5710f0-dbd0-11e6-8f2c-a60525a4f4db.png)
You can see that I have included all the files but it is giving me this error of 'No such module NVIndicatorView'

[2017-01-16 05:40] ninjaprox commented on #108
@WaqarKhalid: If you use manual way, no need to `import NVActivityIndicatorView`, just use classes right away.

[2017-01-16 07:33] WaqarKhalid commented on #108
It worked.Thanks

[2017-01-16 07:33] #108 closed, assigned to nobody

[2017-01-16 08:12] kb100824 opened #112 "If the DGActivityIndicatorView.m document rewrite - (instancetype) init method, which is more perfect!"
I add the rewrite - (instancetype) init method to the DGActivityIndicatorView.m file to easily support NSLayoutConstraint to set its location:

- (instancetype)init{

    if (self = [super init]) {
        _tintColor = [UIColor whiteColor];
        _size = kDGActivityIndicatorDefaultSize;
        [self commonInit];
    }
    return self;

}

[2017-01-25 01:13] Laptopmini commented on #106
Update your specs-repos
[code]

[2017-01-25 01:15] Laptopmini commented on #111
Please provide at least some lines of your code; where the error was thrown for example.

[2017-01-25 14:41] barnaclejive opened #114 "Bicycle themed animation =)"
I'm building the B2B e-Commerce app for https://qbp.com. A bicycle themed animation would be awesome!

[2017-01-27 13:19] vkornieiev opened #115 "Layout issue - shadow view not cover all screen."
Layout issue - shadow view not cover all screen if device changing orientation during indicator show.
Please add layout constraints to shadow view if it possible. Thank you!

[2017-01-29 07:39] lucasjinreal commented on #106
ok, thank you very much, I will try it.

[2017-01-29 09:08] ninjaprox commented on #115
@fasteroko: Thanks for reporting, I'll take a look at this. As usual, PR is welcome.

[2017-01-29 09:10] ninjaprox commented on #114
@barnaclejive: Do you have design for it? I think it would be fun to implement.

[2017-01-29 09:10] ninjaprox commented on #105
Close this, reopen if need be.

[2017-01-29 09:10] #105 closed, assigned to nobody

[2017-01-29 09:10] ninjaprox commented on #106
Close this, reopen if need be.

[2017-01-29 09:10] #106 closed, assigned to nobody

[2017-01-29 09:11] ninjaprox commented on #112
@KBvsMJ: Sorry, I didn't get you. Could you elaborate more?

[2017-01-31 11:19] vkornieiev commented on #115
PR is available now. Hope it will be useful for you 👍
Vladyslav (fasteroko).

[2017-01-31 12:54] ninjaprox commented on #115
Merged. Thanks for your PR 👍.

[2017-01-31 12:54] #115 closed, assigned to nobody

[2017-01-31 13:02] vkornieiev commented on #115
You are welcome
​ :)

2017-01-31 14:54 GMT+02:00 Vinh Nguyen <notifications@github.com>:

[2017-01-31 13:22] vkornieiev commented on #115
Do you know when this
​ ​
update will be available via cocoapods?
​​

2017-01-31 14:54 GMT+02:00 Vinh Nguyen <notifications@github.com>:

[2017-01-31 14:06] ninjaprox commented on #115
@fasteroko: It's on the way 🚀. Let's check out in 15 mins.

[2017-01-31 15:03] vkornieiev commented on #115
Awesome! Thank you! :)

2017-01-31 16:06 GMT+02:00 Vinh Nguyen <notifications@github.com>:

[2017-02-03 03:51] QuynhNguyen opened #117 "Autolayout Constraints Issue"
[code]

[2017-02-04 14:13] ninjaprox commented on #117
@QuynhNguyen: What version are you using? If the latest, I guess it might be related to this #116.

[2017-02-04 14:14] ninjaprox commented on #111
Close this, reopen if need be.

[2017-02-04 14:14] #111 closed, assigned to nobody

[2017-02-04 14:14] ninjaprox commented on #112
Close this, reopen if need be.

[2017-02-04 14:14] #112 closed, assigned to nobody

[2017-02-04 22:00] QuynhNguyen commented on #117
Yup, latest version

[2017-02-05 08:19] ninjaprox commented on #117
@QuynhNguyen: Thanks for reporting. Fixed in `3.4`.

[2017-02-05 08:19] #117 closed, assigned to nobody

[2017-02-07 19:49] adrianod1as opened #119 "Warning that may cause rejection on Apple's app review appears when using lib on an app extension"
I am using `NVActivityIndicatorView` on a Today Extension, and I get the following warning:

`ld: warning: linking against a dylib which is not safe for use in application extensions: /{path}/NVActivityIndicatorView`

It seems such warning may cause rejection on Apple's app review. In Apple Documentation https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/E

[2017-02-08 10:27] adrianod1as commented on #119
Reading your code a bit more, I believe you use `UIApplication` only on `NVActivityIndicatorPresenter`. Such class will be used only when passing data to the methods `startAnimating/stopAnimating`. I guess you could add a parameter `controller` to `ActivityData` and use it instead of accessing `UIApplication.shared.keyWindow`. At least, it was how I did in my fork. Let me know if you agree or have

[2017-02-10 15:17] ninjaprox commented on #119
@adrianodiasx93: Thanks for letting me know this. I didn't know that using `UIApplication` may cause rejection in use case of app extension. Your suggestion to use a view controller instead of `UIApplication.shared.keyWindow` makes sense to me. We could add view controller as additional param instead of putting into `ActivityData` like this `startAnimating(_ data: ActivityData in viewController: U

[2017-02-12 04:25] 0xc00010ff commented on #84
This is a valid issue- see line 162 and 167 of `NVActivityIndicatorPresenter.swift`.
`UIApplication.shared.keyWindow` will not compile for files included in an app extension.

There are ways around this- usually defining macros that allow compile-time inspection of if the current environment in an app extension.
http://stackoverflow.com/questions/29605094/detect-whether-run-target-is-app-extension

[2017-02-12 08:07] ninjaprox commented on #84
@0xc00010ff: There's another issue and discussion related to this at #119.

[2017-02-15 09:08] abackys opened #120 "Add Custom Animation"
It would be nice to have ability to add your own `NVActivityIndicatorType` by conforming to Protocol and using this Protocol instead of `NVActivityIndicatorType`, that way we could implement our own activity indicators without need to fork and editing the library. Same would apply to `NVActivityIndicatorShape`.

Is there something what would block this approach? I could work on MR if you see no is

[2017-02-16 14:35] ninjaprox commented on #120
@abackys: Actually, it has been initiated and discussed a few times ago, just not yet be an official release. You can refer to these issues #39, #42, #98 for more information. There is also the branch `features/custom-animation` already there. Public the `NVActivityIndicatorAnimationDelegate` so that user can create custom animation should be straightforward. However, to make it works seamlessly w

[2017-02-17 03:36] joeytat opened #121 "stopAnimating() are not working when showTimer does not fire yet."
[code]
This way `stopAnimating` are not working. I think it should also invalid `showTimer` too if `hideTimer` does not exist.

[code]

[2017-02-17 19:35] renetik commented on #49
So not possible to use in objective-c ? I believe it's possible if implemented.

[2017-02-18 15:47] ninjaprox commented on #49
@rene-dohan: It's still possible to use in ObjC, with limit though. PR is welcome if you would like to make it fully support ObjC.

[2017-02-18 16:14] ninjaprox commented on #121
@joeytat: Thanks for your report. There's related issue #118 recently. I'll look into this issue, and fix it in the next version.

[2017-02-19 02:31] #121 closed, assigned to nobody

[2017-02-19 11:47] kuraydev opened #122 "Initialization Problem"
Hello,
First of all thank you for this amazing lib :)
I'm kinda new at iOS and i have a little trouble about initialization.

Here is my code :

 let width = Int(self.view.frame.width / 2)
        let height = Int(self.view.frame.height / 2)
        let x = 0
        let y = 0
        let frame = CGRect(x: x, y: y, width: width, height: height)
        let activityIndicatorView = NVActivityIndicat

[2017-02-20 12:40] ninjaprox commented on #122
@WrathChaos: Have you added the `activityIndicatorView` to the `view`? I hope it's the missing part. Let me know if it doesn't help.

[2017-02-22 11:39] kuraydev commented on #122
@ninjaprox Yay! Thank you, i forgot to add to the view. One more question, when i make the width, height as self.view.frame.width and height, Main indicator looks too big how can i make it smaller but background should be fullscreen?

Thank you again :)

[2017-02-22 12:32] ninjaprox commented on #122
@WrathChaos: You can set `padding` so that the size of indicator view is as same as `view.frame.size`, but the size of the animation is calculated based on that.

[2017-02-22 17:09] kuraydev commented on #122
@ninjaprox  Thank you so much for helping :) That is a great library!

[2017-02-23 00:34] #122 closed, assigned to nobody

[2017-02-28 10:37] Vinzius opened #123 "UI blocker: conflict of states (dead end if tries to stop animation in hidden state)"
Hi !

First, thank you for your library.

I may have found a problem when calling the methods in a weird way.

Problem: when calling `startAnimating()`, if state is not `.hidden`, then blocker won't display. But sometimes state isn't hidden while blocker isn't going to hide !

How:
- Step 0: `state = .hidden`
- Step 1: Calling `NVActivityIndicatorPresenter.sharedInstance.stopAnimating()` So `state

[2017-02-28 15:42] ninjaprox commented on #123
@Vinzius: Thanks for reporting! I'm surprised that how I could miss that obvious use case. Your proposition seems good and I think it suffices to handle all cases. However, if finding any case might break the behavior, please create an issue. PR is always welcome.

[2017-03-01 08:52] Vinzius commented on #123
Sure, you're welcome.
So do you want a PR for this one too? (I don't mind, it's just only a few chars :p)

[2017-03-01 09:07] ninjaprox commented on #123
Yes sure 👍

[2017-03-01 09:15] Vinzius commented on #123
Ok! Will do today :-)

[2017-03-01 13:16] #123 closed, assigned to nobody

[2017-03-01 18:34] pbeneteau opened #125 "error due to animation.setUpAnimation()"
My app crash because of that function(EXC_BAD_ACCESS):

 animation.setUpAnimation(in: layer, size: animationRect.size, color: color);

 in NVActivityIndicatorView.swift line 456.

No logs.

[2017-03-01 18:51] pbeneteau commented on #125
Found solution: REPLACE first uppercase of type names by a lowercase.

[2017-03-01 19:07] pbeneteau commented on #125
Finally, it doesn't solve the problem...

[2017-03-02 13:01] ninjaprox commented on #125
@stealdre: Could you provide more context of usage? (like code snippet, where using it). Since the example going the library is still working fine, the problem perhaps caused by other reason.

[2017-03-02 13:19] pbeneteau commented on #125
I tried to use it with both ways: `storyboard` and code. I created a view (50px50px) with the class `NVActivityIndicatorView` in the `storyboard` and with animation type and color. Then I start animating with:`activityIndicatorView.startAnimating()` and stop with `activityIndicatorView.stopAnimating()`. Not working. I also tried with the second way: code. I created a `view` with: `NVActivityIndica

[2017-03-02 13:31] ninjaprox commented on #125
@stealdre: How about the following simplest use?
[code]

[2017-03-02 13:35] pbeneteau commented on #125
This is working, try to update your guide.

[2017-03-02 13:35] #125 closed, assigned to nobody

[2017-03-02 13:38] ninjaprox commented on #125
@stealdre: What's your suggestion for the better guide? PR is welcome.

[2017-03-02 13:42] pbeneteau commented on #125
Try first to create a guide that work! The current guide is not working like I said. I did exactly what it says. Then you give me a more easy way that works. Why not put this way in your guide?

[2017-03-02 13:58] ninjaprox commented on #125
I think it's straightforward for most people and there's no such kind of this issue before. The guide itself is not a step-by-step tutorial and may require a minimal prerequisite to understanding. Hope you understand this. 😄

[2017-03-02 18:47] pbeneteau commented on #125
Hope people understand this...

[2017-03-07 12:25] chris-247-sloan opened #128 "M_PI is deprecated"
I've just installed NVActivityIndicatorView in my project using cocoapods.
Podfile entry is :

![screen shot 2017-03-07 at 12 15 46](https://cloud.githubusercontent.com/assets/16673545/23656048/f4ae12e8-032f-11e7-9e1f-b7ed063f9089.png)

so I did a `pod install `

![screen shot 2017-03-07 at 12 19 59](https://cloud.githubusercontent.com/assets/16673545/23656154/6c11e616-0330-11e7-926c-5c4ef5575054.

[2017-03-07 15:42] deepankvora opened #129 "Unexpected CFBundleExecutable Key"
Hi there! Thank you for this plugin. I am using it in my app and love it.

I am reaching out as I am having an issue while uploading my app to iTunes Connect. Could you please have a look at this ?

Cheers,
Deepank

[2017-03-09 05:37] ninjaprox commented on #128
@chris-247-sloan: I think it's mostly due to Xcode 8.3 Beta 3. I will update to clean all warnings when Xcode 8.3 releases officially.

[2017-03-09 13:22] ninjaprox commented on #129
@deepankvora: Does that cause app review reject? If you're using manual approach, try removing the `Info.plist`. Let me know if it helps.

[2017-03-09 13:58] deepankvora commented on #129
Yes, it does. I am using the manual approach and removing it from `Info.plist` worked for me. Was just wondering if there could be a way to fix this so others who use it manually don't face the same issue.

[2017-03-09 15:55] ninjaprox commented on #129
@deepankvora: I guess one way is updating the `README` to note this, then user of the library has to do it himself. Thanks for reporting this issue btw.

[2017-03-13 05:12] #129 closed, assigned to nobody

[2017-03-13 05:12] ninjaprox commented on #114
Close this, reopen if need be.

[2017-03-13 05:12] #114 closed, assigned to nobody

[2017-03-16 14:53] TheSwiftyCoder opened #131 "Works once then crashes"
Got a view controller that removes from super view once user taps a button. If I go back into the view controller it crashes. I've tested the view by removing NVActivityIndicator and the error is gone. Using swift 3 under Xcode 8.2.1

The view is also storyBoard.instantiateViewController - not sure if that may be related?

[2017-03-17 14:10] ninjaprox commented on #131
@jesse-cohen: Could you provide some code snippet?

[2017-03-18 14:02] ninjaprox commented on #120
Close this, reopen if need be.

[2017-03-18 14:02] #120 closed, assigned to nobody

[2017-03-18 15:42] TheSwiftyCoder commented on #131
Just the standard code used. Had an outlet which inherited NVActivityIndicator. Used stop animating and start animating as per documentation. The viewcontroller is removed by removeFromSuperview. When recreating the view again NVActivityIndicator causes a crash.

[2017-03-19 06:21] ninjaprox commented on #131
@jesse-cohen: I guess it's caused by the outlet. Usually the outlet is `weak` and implicit unwrapped optional (if you're using Swift). When calling `removeFromSuperview`, the outlet will become `nil`, then adding it again will cause crash. You can try making the outlet strong which is actually not recommended, then see if it works. Let me know if this helps.

[2017-03-19 08:53] TheSwiftyCoder commented on #131
Thanks, Any way I can solve this without using a strong reference, say adding a UIView programatically?

[2017-03-19 09:59] ninjaprox commented on #131
@jesse-cohen: That should be the correct way 👍. Btw, on call `stopAnimating`, the view is hidden, then `startAnimating` will show it so you don't need to remove and add it again if you're using `IBOutlet`.

[2017-03-19 09:59] #131 closed, assigned to nobody

[2017-03-24 07:03] dqhieu opened #132 "Message is not centered"
<img width="1072" alt="error" src="https://cloud.githubusercontent.com/assets/8291457/24284128/36e583c0-109c-11e7-9912-d86a08fa406c.png">

Please! Am I the only one getting this error?
p/s: running on iPhone 5s, iOS 10.2.1

[2017-03-26 08:10] ninjaprox commented on #132
@dqhieu: Thanks for reporting 👍. This has been fixed in `3.5.2`.

[2017-03-26 08:10] #132 closed, assigned to nobody

[2017-03-27 20:19] Tr736 commented on #128
hi Ninjaprox,

The issue still persists on the official Xcode 8.3 release

Thanks

[2017-03-27 22:41] rlxone commented on #128
The same on Xcode 8.3 release

[2017-03-28 02:46] ninjaprox commented on #128
I'll update this probably over the weekend.

[2017-03-29 17:46] ty-sang commented on #128
If you need this right way, a fork from here https://github.com/shieer/NVActivityIndicatorView

[2017-03-30 09:02] vkornieiev commented on #128
Xcode 8.3 has been released officially. Please update version to exclude warnings ASAP.
Thank you :)

[2017-03-31 13:20] ninjaprox commented on #128
Version `3.6.0` with fix of all warnings in Xcode 8.3 is now live 🚀. Thanks for your all patience 🙇.

[2017-03-31 13:20] #128 closed, assigned to nobody

[2017-04-01 15:45] greynguyen opened #135 "XCode 8.3 M_Pi Warnings"
There's a lot of warnings with using M_Pi. Can you release a new version with the warnings fixed? Thanks!

[2017-04-02 08:18] ninjaprox commented on #135
@ndduong97: Please check #128.

[2017-04-02 08:18] #135 closed, assigned to nobody

[2017-04-03 07:43] mark2b opened #136 "Animating appearing / disappearing of activity indicator"
Is there a way to fade in / fade out background during appearing / disappearing of activity indicator?

Now it is appearing / disappearing instantly.

Thanks

[2017-04-03 12:55] ninjaprox commented on #136
@mark2b: We don't have that at the moment. As always, PR is welcome.

[2017-04-03 20:41] tungfam opened #138 "IndicatorView is not visible only on iPhone 5"
Encountered an issue that the IndicatorView is not visible on the iPhone 5.

I created a clean project and here is my code:

[code]

The indicator is visible on any iPhone except iPhone 5 (not sure about 4s)

EDIT: details: when i open the view debugger i DO see the 'box' with the loader. but it's just invisible. not white color. i this it's clear color.. but doing `po loader.color` returns correc

[2017-04-03 20:51] tungfam commented on #138
<img width="907" alt="123" src="https://cloud.githubusercontent.com/assets/17186720/24631180/128da0e6-18c8-11e7-948f-cf4d6f9fc8e9.png">

![image](https://cloud.githubusercontent.com/assets/17186720/24631284/67cfe1e0-18c8-11e7-881f-9affaa62dc68.png)

[2017-04-03 23:55] pingpongdelay opened #139 "Replacing existing UIActivityIndicator with NVActivityIndicatorView"
Hello, I have a UIActivityIndicator already set up and working on my application. The UIActivityIndicator displays on a cell while an image is loading - UITableView.

I installed the cocoa pods for NVActivityIndicatorView and have the files integrated into my project, but I am confused with how to integrate it into the current code. Whenever I replaced “@IBOutlet weak var aiView: UIActivityIndicat

[2017-04-04 13:13] ninjaprox commented on #138
@tungfam: Thanks for reporting 👍. Confirm this issue on iPhone 5 (5s is fine). I tried running the demo project on iPhone 5 10.3 simulator and got the same thing you reported here. However some of animations don't have this issue, you can open the demo to see what works and not. In the meantime, I suggest using working ones, I'll be looking into this issue, update later then.

[2017-04-04 13:15] ninjaprox commented on #139
@pingpongdelay: Have you changed the class of the view in IB as well?

[2017-04-04 13:55] jakedunc opened #140 "M_PI deprecated warnings in XCode 8.3"
In the new XCode M_PI constant has been replaced with Double.pi and these need to be replaced throughout this library.

[2017-04-04 14:51] shady-gabal commented on #138
Looks like this happened somewhere in the conversion to Swift 3. Can use the Swift 2.3 branch (and manually convert to Swift 3 if needed by going to Editor -> Convert -> Current Swift), and this bug does not appear.

[2017-04-04 15:06] ninjaprox commented on #140
@jakedunc: Please check #128. Another related issue you might want to check as well #138.

[2017-04-04 15:06] #140 closed, assigned to nobody

[2017-04-04 17:15] pingpongdelay commented on #139
I have not, will do that now.

How would I integrate the NVActivityIndicatorView into my current code? A little confused on the implementation.

Thank you very much.

[2017-04-04 17:18] pingpongdelay commented on #139
I tried changing the class of the indicators I have in my project, but they don't apply (they get removed when I write them in). All three of these view controllers have activity indicators at the center.
![screen shot 2017-04-04 at 10 17 35 am](https://cloud.githubusercontent.com/assets/19244377/24669635/00ea4260-1920-11e7-8ccb-70e6a7450ace.png)

Thank you.

[2017-04-04 21:20] tungfam commented on #138
Got it, thanks.

Pointing to 3.5.2 also solves the issue:
`pod 'NVActivityIndicatorView’, ‘3.5.2’`

[2017-04-05 12:52] ninjaprox commented on #139
@pingpongdelay: If you're using IB, make sure you have this.

![screen shot 2017-04-05 at 8 50 51 pm](https://cloud.githubusercontent.com/assets/4948012/24706242/99bdec9a-1a41-11e7-8ce7-ab3732f5b788.png)

[2017-04-05 15:14] LinusGeffarth opened #141 "Fatal error: use of unimplemented initializer"
I'm experiencing crashes of the @IBDesignables in Xcode 8 using NVActivityIndicatorView. The crash log shows:

`NVActivityIndicatorView.swift: 333: 20: fatal error: use of unimplemented initializer 'init(frame:) ' for class 'SOGON_TH_Denk.NVActivityIndicatorView'`

Is this known? How do I fix it?
Thanks!

[2017-04-05 15:30] LinusGeffarth commented on #141
So after restarting Xcode a couple times & randomly debugging selected views & stuff, the error went away. There needs to be an actual fix though, since I've had that issue in several Mac's Xcodes.

**Another update:**
I'm experiencing this problem in another Xcode project as well. Those two projects are using CocoaPods, so maybe that causes this...

[2017-04-05 16:24] pingpongdelay commented on #139
Ok, will do. Would that be with the activity indicator in IB?

Thank you very much for the help.

[2017-04-05 16:33] pingpongdelay commented on #139
With the activity indicator selected, Xcode is not letting me change its class and module. Am I changing the class and module of the activity indicator?

Thanks for the help.

<img width="706" alt="screen shot 2017-04-05 at 9 32 33 am" src="https://cloud.githubusercontent.com/assets/19244377/24716159/e28304d8-19e2-11e7-9274-3b5db4386f8b.png">

[2017-04-06 05:52] ninjaprox commented on #139
@pingpongdelay: Just type in those 2 text fields.

[2017-04-06 05:54] ninjaprox commented on #141
@LinusGeffarth: Could you provide more context of usage?

[2017-04-06 05:58] LinusGeffarth commented on #141
I meant to upload the crash log. Here it comes:
[crash log.txt](https://github.com/ninjaprox/NVActivityIndicatorView/files/901623/crash.log.txt)

For usage: I create a view in storyboard, set its custom class to `NVActivityIndicatorView`, set the IBDesignables for type name & color. Then, I hook it up to my ViewController and the only code that I'm writing is `indicatorView.startAnimating()` and `

[2017-04-06 06:10] pingpongdelay commented on #139
I try to, but they get automatically delete when I hit "enter."

![error](https://cloud.githubusercontent.com/assets/19244377/24740245/fd0a9a2e-1a54-11e7-956f-cafd7f57c84e.gif)

[2017-04-06 06:13] pingpongdelay commented on #139
@ninjaprox I try to enter it in, but they keep getting deleted by Xcode.

![errrrrror](https://cloud.githubusercontent.com/assets/19244377/24740337/7d4c9b7e-1a55-11e7-878b-d9d280533e6f.gif)

[2017-04-06 13:51] ninjaprox commented on #139
@pingpongdelay: It's in [README](https://github.com/ninjaprox/NVActivityIndicatorView#initialization), just recall here.

So just remove that `UIActivityIndicatorView` in favor of `UIView` and do the above steps, it should work.

[2017-04-06 14:02] ninjaprox commented on #141
@LinusGeffarth: Assure that you follow [this note](https://github.com/ninjaprox/NVActivityIndicatorView#initialization), recall here.

[2017-04-06 14:07] LinusGeffarth commented on #141
Yup, it is automatically set to that value.

[2017-04-06 15:43] ninjaprox commented on #141
@LinusGeffarth: I've tried and it works fine. Are you using CocoaPods? If you're using the manual way, guarantee all files are intact.

[2017-04-06 20:00] LinusGeffarth commented on #141
I am using CocoaPods.

[2017-04-06 20:59] pingpongdelay commented on #139
Works great now! The issue was that I was not creating a new UIView and setting that as "NVActivityIndicatorView".

Thank you very much for the help and thank you for this library!

[2017-04-07 01:03] #139 closed, assigned to nobody

[2017-04-07 02:58] david-koch-pro opened #142 "Can I apply this indicator into only one viewcontroller?"
I use this great indicator for my app and this indicator is applied into KeyWindow. How can I apply indicator into one view controller?

[2017-04-07 09:46] LinusGeffarth commented on #141
So I just checked (again!) whether all the modules were correct. I swear, they once were, but as I just checked, they weren't set to `NVActivityIndicatorView`. So I adjusted all of them and now its working. Apparently that's when "suddenly" the issue appeared: something broke and altered this setting.
Thanks!

[2017-04-07 09:46] #141 closed, assigned to nobody

[2017-04-07 10:06] LinusGeffarth commented on #142
Write the code inside that ViewController?!

[2017-04-07 12:49] david-koch-pro commented on #142
Oh, sorry. I got a solution. It was creating instance of NVActivityIndicatorView and using it directly.

[2017-04-07 14:11] ninjaprox commented on #141
@LinusGeffarth: Thanks for letting me know the issue has been solved 👍.

[2017-04-08 04:51] #142 closed, assigned to nobody

[2017-04-11 18:44] czater opened #144 "stopAnimating not working with WKWebView"
So I have VC with WKWebView and I am calling . stopAnimating in didFinish but animation is still working. Also if I call . isAnimating after stop method, it returns false. What is going on? Did I missing something? Is this not compatible with WKWebView?

[2017-04-12 07:23] ch-muhammad-adil commented on #54
I am getting this error on swift 3.0 ..

[2017-04-14 13:45] ninjaprox commented on #144
@czater: Is it `stopAnimating()` of `NVActivityIndicatorView` or `NVActivityIndicatorPresenter`?

[2017-04-14 14:35] ninjaprox commented on #138
@tungfam: `3.6.1` is out with the fix for this 🚀. Thanks @shady-gabal for helping figure out the cause.

[2017-04-14 14:35] #138 closed, assigned to nobody

[2017-04-14 18:29] czater commented on #144
@ninjaprox of NVActivityIndicatorView

[2017-04-17 13:29] ninjaprox commented on #144
@czater: I believe you don't miss anything and it has nothing to do with `WKWebView`. Could you provide some codes for inspecting though?

[2017-04-23 09:17] jwelton opened #145 "Prebuilt Binaries - Carthage"
### Issue Description
Submit prebuilt binaries with releases to improve CI performance when using Carthage.

#### What
I think it would be really useful to include Carthage prebuilt binaries with releases. This means when using Carthage, the binary can be downloaded rather than needing to recompile the entire library. This enhancement would be much appreciated when running CI builds, as currently

[2017-04-26 03:05] ninjaprox commented on #145
@jwelton: How about check in `Carthage/Build` folder to SVC? I think it's perhaps one alternative solution you might use outright.

[2017-05-04 18:53] douglas-srs opened #146 "Background Image and Transition Animation"
Hey there,

Can I suggest that you implement a way to set a background image instead of just setting the background color? Also, a way to animate the view transition would be awesome!

Thanks for this library, it helps me a lot!

[2017-05-05 05:54] ninjaprox commented on #146
@douglas-srs: I think #137 is addressing your suggestion, however it doesn't support background image. As always, PR is welcome.

[2017-05-05 05:54] ninjaprox commented on #144
Close this, reopen if need be.

[2017-05-05 05:55] #144 closed, assigned to nobody

[2017-05-22 07:00] calvinsug opened #148 "pull to refresh support?"
Hi, just want to know whether this library supports pull to refresh ?

[2017-05-23 03:43] ninjaprox commented on #148
@calvinsug: You can use this library in conjunction with other pull-to-refresh libraries since the `NVActivityIndicatorView` is just a subclass of `UIView`, you can use it anywhere.

[2017-06-07 21:27] luli-isa opened #150 "NVActivityIndicatorView doesn't work on iPad"
Hi,
I am used NVActivityIndicatorView and it works on iPhone (and on iPad simulator), but when I try on iPad it doesn't show.
Why does it have this behaviour?
Thanks

[2017-06-08 12:49] ninjaprox commented on #150
@luli-isa: Which version are you using?

[2017-06-08 12:49] ninjaprox commented on #145
Close this, reopen if need be.

[2017-06-08 12:50] #145 closed, assigned to nobody

[2017-06-08 12:50] ninjaprox commented on #148
Close this, reopen if need be.

[2017-06-08 12:50] #148 closed, assigned to nobody

[2017-06-09 09:06] luli-isa commented on #150
I am trying the version on master
`pod 'NVActivityIndicatorView'`

[2017-06-11 13:54] ninjaprox commented on #150
@luli-isa: I tried the demo project on my iPad and it worked just fine. Could you try the same and let me know the result?

[2017-06-12 05:58] iad24 opened #151 "Accessibility"
Hi,

     Im using KIF to test the UI of my app. KIF uses the Accessibility feature of Apple.
     Lets say I have a login page and after I click a button, I want to test that your activity indicator view was really displayed.
     Anyway to do this?

[2017-06-22 04:03] iad24 opened #152 "how to know if it is already showing the indicator view?"
I dont see any isHidden property.

[2017-06-22 13:58] ninjaprox commented on #152
@iad24: You can use [`isAnimating`](http://cocoadocs.org/docsets/NVActivityIndicatorView/3.6.1/Classes/NVActivityIndicatorView.html#/s:vC23NVActivityIndicatorView23NVActivityIndicatorView11isAnimatingSb).

[2017-06-22 13:58] #152 closed, assigned to nobody

[2017-06-23 02:24] iad24 commented on #152
thanks

[2017-06-28 03:26] iad24 commented on #152
@ninjaprox  Oppps. But how to access this? Its not exposed to NVActivityIndicatorPresenter

[2017-07-03 09:57] prakashRavi1990 opened #153 "Stop the animation on tap gesture?"
How to stop the animation by tapping on it?

[2017-07-03 15:44] ninjaprox commented on #153
@prakashRavi1990: You can add a gesture recognizer to the view, then call `stopAnimating()` on recognizing the gesture.

[2017-07-03 15:44] #153 closed, assigned to nobody

[2017-07-03 15:44] ninjaprox commented on #150
Close this, reopen if need be.

[2017-07-03 15:44] #150 closed, assigned to nobody

[2017-07-03 15:45] ninjaprox commented on #151
Close this, reopen if need be.

[2017-07-03 15:45] #151 closed, assigned to nobody

[2017-07-08 09:31] ninjaprox commented on #119
This's fixed in `3.7.0` by using subpod `NVActivityIndicatorView/AppExtension`.

[2017-07-08 09:31] #119 closed, assigned to nobody

[2017-07-11 11:04] dfabreguette opened #154 "error: filename "AppDelegate.swift" used twice"
Hi,
I'm getting this build error when I included the pod via cocoaPod :
[code]
Any Idea ?

[2017-07-11 12:10] ninjaprox commented on #154
@dfabreguette-ap: I tried with a new clean project and it's fine. Could you try `pod deintegrate`, then `pod install` again?

[2017-07-11 14:09] dfabreguette commented on #154
I tried to deintegrate but I get the same error.
I'm using IOS10 could it be related to it ?

[2017-07-11 14:11] dfabreguette commented on #154
Also, when I add the import directive, I get the following :
[code]
![image](https://user-images.githubusercontent.com/7055931/28072530-a3f8cb86-6653-11e7-8bdd-d064f17c0c66.png)

[2017-07-12 03:07] ninjaprox commented on #154
@dfabreguette-ap: I also tried using iOS 10. How about a try with version `3.6.1`? I'm suspecting the recent change in `podspec` might cause this.

[2017-07-12 07:39] dfabreguette commented on #154
For some reasons, my cocoapod install was messing up the whole thing !
I followed these steps to uninstall / reinstall cocoapods and finally worked fine !
https://stackoverflow.com/a/32757139

Be sure to open xcworkspace file and not xcodeproj with xcode to build properly !

[2017-07-12 07:39] #154 closed, assigned to nobody

[2017-07-14 16:33] justindunn opened #155 "Enable Nav bar during UIBlocker"
Is there a way to keep the Navbar active on one view while activityindicator is loading? I have a page where I want the activity to show loading when a person logs into a video session but I want them to be able to hit the back in the nav bar if they decide to stop waiting, thanks in advance for any help!

[2017-07-15 15:00] ninjaprox commented on #155
@justindunn: In that case, I think you should create a view container and an `NVActivityIndicatorView`, then add them to the view hierarchy instead of using UI blocker, so that you have more control of those (position, size).

[2017-07-15 15:02] justindunn commented on #155
Ok that makes sense, but how would you disable the UI blocker?

[2017-07-15 15:29] ninjaprox commented on #155
If you're talking of the built-in UI blocker, you can use `stopAnimating()`, otherwise just remove the view container you created.

[2017-07-15 15:31] justindunn commented on #155
Ok but is there a way to keep the loading animating while disabling the built in UI blocker?

[2017-07-15 15:40] ninjaprox commented on #155
I'm afraid not since the UI blocker contains the loading animation. Then when the UI blocker disappears, it's weird to keep the animation (if I get you correctly). In your case, I think what you want to do is to create a view container with the animation as a child, position it right below the navigation bar and size it to cover the rest area.

[2017-07-15 15:44] justindunn commented on #155
Ok thanks for all your help! I'm going to try this out!

[2017-07-15 15:53] #155 closed, assigned to nobody

[2017-07-17 11:12] Ankish opened #156 "Enable Loading with blocking only on viewcontroller.view"
Enable Loading with blocking only on viewcontroller.view and not the whole screens. This way navigation bar is not blocked and use can still change screens. How do we achieve that in a simple way ?

[2017-07-17 12:24] ninjaprox commented on #156
@Ankish: You might want to check related issue #155.

[2017-07-17 19:55] alexn-ai opened #157 "Loading Indicator doesn't always show"
Using the shared instance to display the loading indicator inside a background thread initiating a network request, there are instances where it does not show.  It's infrequent, and occurs about 1:20 times from testing.

`  let activityData = ActivityData()
        NVActivityIndicatorPresenter.sharedInstance.startAnimating(activityData)`

I use the current settings:
`        NVActivityIndicatorVie

[2017-07-18 12:29] ninjaprox commented on #157
@alexn-spire: If I get it correctly, you call `startAnimating()` in a thread other than the main thread? Besides, according to the setting, ensure that a subsequent call to `startAnimating()` is 200 ms after the previous one, otherwise, it'll be ignored.

[2017-08-07 01:47] leo4life2 opened #158 "Minimum display time ignored"
Hi, I'm just playing around with the activity indicator, but it seems that it's not displaying the UI blocker and the indicator for the minimum time I set. In fact, nothing is displayed. However, if I remove the stopAnimating, it does show the UI blocker and the activity indicator.
[code]

[2017-08-07 14:38] #158 closed, assigned to nobody

[2017-08-07 18:26] lucasacw05 commented on #119
Hi, I'd like to know how can I update the NVActivityIndicatorView to the earliest version. I'm currently using an old one.

Thanks!

[2017-08-21 15:30] WilliamHua opened #160 "NVActivityIndicatorView hanging after UIViewController transition"
Hi,

I am using NVActivityIndicatorView during my network requests as a loading indicator.

Specifically, I am adding the NVActivityIndicatorView the another view, laying it out with AutoLayout, and then presenting it by adding the view to the app's Window.

I recently added an animation library called [Hero](https://github.com/lkzhao/Hero).

After I started using Hero, NVActivityIndicatorView sta

[2017-08-23 02:55] ninjaprox commented on #156
Close this, reopen if need be.

[2017-08-23 02:55] #156 closed, assigned to nobody

[2017-08-23 02:55] ninjaprox commented on #157
Close this, reopen if need be.

[2017-08-23 02:55] #157 closed, assigned to nobody

[2017-08-23 09:32] ninjaprox commented on #160
@WilliamHua: Is `NVActivityIndicatorView ` a part of the animation performed by either Hello or Motion? Screenshots might help to visualize the scenario.

[2017-08-24 16:05] WilliamHua commented on #160
No, `NVActvitiyIndicatorView` is not related to the animation performed and is not called until the user goes to a completely different part of the app. However, there is a reference to a `NVActivityIndicatorView` in one of the `UIViewController`'s.

To elaborate, I have 3 `UIViewController`'s: A, B, C.

A: has a reference to `NVActivityIndicatorView`
B: has no reference
C: has a reference to a di

[2017-08-25 19:33] ninjaprox commented on #160
@WilliamHua: Well when is `NVActivityIndicatorView` being displayed or used? And how in conjunction with Hero and Motion. As you described earlier, I quite understand you're using `NVActivityIndicatorView` as a UI blocker. If it's correct, I'm assuming that while the UI blocker is displaying (with `NVActivityIndicatorView` in it), there's transition from A -> B using either Hero or Motion. The lin

[2017-09-07 10:17] amolpokale1 opened #161 "NVActivityIndicatorViewable doesn't work on multiple VCs or calls"
when we show the activity indicator and perform any ui changes on view then activity indicator get disappear

[2017-09-10 03:23] wstyres opened #162 "Error while compiling with Swift 4"
I just updated my project to Swift 4 and Xcode 9 beta and I'm getting the following error while trying to build:

[code]

Works fine if I unlock the file and remove the `final` but it would be nice if the pod were updated so I don't get build errors with travis.

[2017-09-10 07:40] awedeebawe commented on #162
Why don't you fork it, update it, set your Podfile to use your repo and create a pull request, that ninjaprox will approve when the time has come?

[2017-09-10 11:25] ninjaprox commented on #162
@wstyres: At the moment, you can specify the pod to use `swift4` branch. Once Xcode 9 releases officially there'll be a new appropriate version of the pod.

[2017-09-11 00:57] wstyres commented on #162
@ninjaprox awesome that will work for the time being, thank you!

[2017-09-11 00:57] #162 closed, assigned to nobody

[2017-09-11 13:50] ninjaprox commented on #160
Close this, reopen if need be.

[2017-09-11 13:50] #160 closed, assigned to nobody

[2017-09-11 13:52] ninjaprox commented on #161
@amolpokale1: Could you elaborate on the issue and use case? Either screenshots, gifs, snippets would be helpful.

[2017-09-12 13:58] keba76 opened #164 "Animation start delay"
There was such a problem, each time with a re-animation, there is a slight delay in the animation. And with each time this time delay increases. A picture of the animation appears immediately, but the animation itself works through time. At the first start there is no delay.
I would be grateful for your help

[2017-09-13 12:12] amolpokale1 commented on #161
when I land on my screen I request web_service_call_1 and show the activity indicator, On success of web_service_call_1  response I added new view on my UIView and request web_service_call_2, when I get the response from web_service_call_2 then I hide the activity indicator

**Expected** - activity indicator should display for my both request

**Reality** -  activity indicator not displayed some t

[2017-09-18 09:44] kohdesmond opened #165 "Animation doesn't display through the minimumDisplayTime"
@ninjaprox thanks for this awesome git!

the `minimumDisplayTime` is not being observed.

[code]

the indicatorview just flash and gone.

[2017-09-18 12:03] bhaveshbc opened #166 "animator not displayed in viewdidload"

[2017-09-18 12:07] bhaveshbc commented on #166
[code]

I have Placed above code in viewdidload method of viewcontroller but indicator not displayd.

[2017-09-18 14:21] ninjaprox commented on #165
@kohdesmond: When is `stopAnimating` actually called?

[2017-09-18 14:26] ninjaprox commented on #166
@bhaveshbc: What is the color of `THEME_COLOR`? Another thing is when `stopAnimating` is called?

[2017-09-18 14:59] ninjaprox commented on #164
@keba76: Sorry for delay reply. Could you give the code example of your use case? It'll help debug this. I tried to replicate this by modifying the example project as below:
[code]

However, it seems to be not enough to reproduce the issue.

[2017-09-18 15:42] kohdesmond commented on #165
@ninjaprox i call it in a call back

[code]
[code]

[2017-09-20 01:57] kohdesmond commented on #166
@ninjaprox i'm experiencing that too

[2017-09-20 13:34] ninjaprox commented on #165
@kohdesmond: There's a known bug (or maybe feature 😉) that if you call `startAnimating()` and `stopAnimating()` consecutively in the main thread, `minimumDisplayTime` will be ignored. However, according to your snippet, I don't think it's the case. A walkaround is to delay the call to `hideLoading()`.

[code]

You might need to play with the number a bit. Let me know if this helps.

[2017-09-20 13:42] ninjaprox commented on #166
@kohdesmond: I tried with a simple setup in the example project as the following:

[code]

However, I know it seems too simple to reproduce the issue. An example with reproducible issue would be helpful to debug.

[2017-09-20 18:37] julienfouilhe opened #167 "Doesn't work with swift 4?"
I'm getting the following errors when trying to compile with swift 4.

[code]

It happens on NVIndicatorViewable.swift for `startAnimating` and `stopAnimating`

cc @ninjaprox

Edit: Just noticed that a swift branch was available, using this until it's merged :)

[2017-09-21 02:14] kohdesmond commented on #165
lol

it works well now if:

[code]

i now delay the `hideloading()` call till `setRewardDetails()`

[code]

[2017-09-21 02:15] kohdesmond commented on #166
@ninjaprox thanks, i'm running 2 project and one of it with tabbar works fine.
 the one i'm encountering issues was running with
`pod 'SideMenu'` as the slide menu, putting a delay seems to fix the issues

[2017-09-21 15:17] ninjaprox commented on #167
@julienfouilhe: The version `4.0.0` is out 🚀, let's check it 🎉.

[2017-09-21 15:17] #167 closed, assigned to nobody

[2017-09-21 16:26] matin-kaj opened #168 "Swift 4 error Only classes and class members may be marked with 'final'"
I am getting this error when I migrated to swift 4. I also ran pod install again to grab the version for swift 4.

    public final func startAnimating

[2017-09-22 02:59] ninjaprox commented on #168
@matin-kaj: Which version are you using? If not `4.0.0` (make sure you check the version in `Podfile.lock`), check it out since it's updated with Swift 4. Let me know if it helps.

[2017-09-22 15:01] matin-kaj commented on #168
When I replace `pod 'NVActivityIndicatorView'` with `pod 'NVActivityIndicatorView', '~> 4.0.0' `and run pod install again, it can't find it. any idea ?

[2017-09-22 15:03] petard commented on #168
Running ```pod repo update``` fixed the issue for me using ```pod 'NVActivityIndicatorView', '~> 4.0.0```

[2017-09-22 18:01] ninjaprox commented on #168
@matin-kaj: You might need to run `pod install` or `pod update NVActivityIndicatorView` with `--repo-update` option to update the pod specs repo in your local.

[2017-09-23 08:49] #168 closed, assigned to nobody

[2017-09-25 14:24] #166 closed, assigned to nobody

[2017-09-25 14:24] #165 closed, assigned to nobody

[2017-10-01 18:01] Felizolinha opened #169 "UIBlocker overlay does not cover the status bar."
The title says it all, any solutions to this?

[2017-10-04 05:56] prajapatirukesh3c opened #170 "Unexpected Warning"
Warning: This application is modifying the autolayout engine from a background thread after the engine was accessed from the main thread. This can lead to engine corruption and weird crashes.

Xcode version 8.3.3
swift version 3

[2017-10-05 16:03] Felizolinha commented on #169
Nevermind, it was because my status bar had a background color, which is even prohibited by the App Store.

[2017-10-05 16:03] #169 closed, assigned to nobody

[2017-10-06 06:01] seenoevo commented on #170
Wrap the code around this:

    DispatchQueue.main.async() {

        // Put indicator code here

    }

[2017-10-09 13:22] #170 closed, assigned to nobody

[2017-10-11 20:27] adrianod1as commented on #119
@ninjaprox Some way I can achieve the same behavior of the subpod NVActivityIndicatorView/AppExtension using Carthage instead?

I don't use  Cocoa Pods in my project.

[2017-10-11 20:33] adrianod1as commented on #119
Also, is there some drawback in using NVActivityIndicatorView/AppExtension?

Will I be able to use NVActivityIndicatorViewable?

[2017-10-12 15:17] ninjaprox commented on #119
@adrianodiasx93: I think it's possible by creating a branch with an appropriate target for Carthage, then point to that branch in `Cartfile`. The drawback will be removal of `NVActivityIndicatorViewable` and `NVActivityIndicatorPresenter`. However you still can replicate the same thing by yourself.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-17 13:28] andresteves opened #171 "Stop animation not working"
Hi,

Trying to use
`NVActivityIndicatorPresenter.sharedInstance.stopAnimating()` with a Timer but nothing happens and the UI is still blocked...

[2017-10-29 02:11] bharath-kamath commented on #108
@ninjaprox I installed the Swift 4 branch via Cocoapods but I get the same error.
The header(and framework) Search path is empty, shouldn't there be an import for NVActivityIndicatorView.

Edit: Tried running the Example app after pod install and get the same error.

[2017-10-30 20:04] piv199 opened #173 "Fast show/hide calls"
Hi, I've experienced a strange bug, couldd you please give your ideas on it:

[code]

In underlying start/stop implementation, I've faced this method:

[code]

But `state = .waitingToHide` doesn't actually hide the hud, and when calling any startAnimating after that it won't be shown because of
[code]

Do I missing something?

@ninjaprox

[2017-10-31 14:21] ninjaprox commented on #173
@piv199: For the idea behind `displayTimeThreshold`, you can refer to the issue #57. In brief, if you call `stopAnimating()` in `displayTimeThreshold` time window, no thing will be showed, and the `state` is to keep the internal state of the hub. If you find a leaner way to manage the state, feel free to propose and create PR.

[2017-10-31 14:22] ninjaprox commented on #171
@andresteves: Could you give more context? Code snippets are also helpful.

[2017-10-31 14:22] ninjaprox commented on #164
Close this, reopen if need be.

[2017-10-31 14:22] #164 closed, assigned to nobody

[2017-10-31 14:25] piv199 commented on #173
yeah, but if I call sartAnimating() after stopAnimating() it won't show, will it?

Okay, I will take a look in more details, and try to create a pr.

[2017-10-31 14:53] andresteves commented on #171
Ended up not being the framework fault. I had a code running that was not async so it was blocking everything.

[2017-10-31 14:53] #171 closed, assigned to nobody

[2017-10-31 15:44] ninjaprox commented on #108
@bharath-kamath: Have you tried common resolutions for CocoaPods? Btw, are using Swift or ObjC in your project, what CocoaPods version, `Podfile`?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-31 20:06] Skornos opened #174 "NVActivityIndicatorPresenter blocking only UIViewController"
Hi,

I love this indicator view. The only issue I have is that starting animation with `NVActivityIndicatorPresenter.sharedInstance` blocks the whole UI including navigation controller and tab bar. I am looking for a solution how to create in some reusable fashion NVActivityIndicatorView which will block only presenting ViewController.

Thanks.

[2017-11-01 18:30] bharath-kamath commented on #108
I'm using Swift and the CocoaPods version is 1.3.

[2017-11-05 21:31] piv199 commented on #173
@ninjaprox if you call `stopAnimating()` in `displayTimeThreshold`, then the state will be forever .waitingToHide, until you call `stopAnimating()` again.

This is major bug, and I'm thinking of it... But I'm bit confused of state machine behavior... so if I'm `.waitingToShow` and call `startAnimating(displayTimeThreshold: 1000)`. Should HUD be shown after 1000 ms from now, or after first call to

[2017-11-06 01:52] annjawn commented on #174
I think if you create a UIView as a subclass of NVActivityIndicatorView and then use it will only block that UIView. I think I saw something like that in the sample project. You may want to double check that.

[2017-11-06 01:53] annjawn opened #175 "Callback/Delegate for stopAnimating()"
Is there a callback/delegation available for `stopAnimating()`? If not then it would be a really useful feature since it looks like the `stopAnimating()` is somewhat asynchronous. I see the activity view lingering for a slightly longer period as the code after the `stopAnimating()` gets executed (for e.g. present another VC, Push/pop another VC, show an alert etc.). Not a huge issue, but it would

[2017-11-06 10:07] chanonly123 opened #176 "Update sharedInstance loading?"
sharedInstance not updating!

[2017-11-06 10:12] chanonly123 commented on #176
Sorry it's working

[2017-11-06 10:12] #176 closed, assigned to nobody

[2017-11-09 12:11] LinusGeffarth opened #177 "Add identifier to NVActivityIndicatorView"
Thanks for this amazing library.
I have a simple feature request: add an identifier to the `NVActivityIndicatorView` class:
[code]

Thanks!

[2017-11-19 01:54] ParkGwangBeom opened #179 "Add new animations?"
I have a question. Can I pull requests by adding another type of indicator to this open source?

[2017-11-23 18:34] sheinix commented on #174
You could declare a NVActivityIndicatorView inside your ViewController and change the frame to fit your UI element, and then encapsulate the implementation that shows the loading view. Something like this:

In your presenting ViewController or parent class:

[code]

[2017-11-24 07:27] Spriter opened #180 "stopAnimating() in state .waitingToShow issue"
If you call stopAnimating() on a NVActivityIndicatorPresenter in the state .waitingToShow the state machine is broken. Later calls of startAnimating() will not work.

[2017-11-24 07:31] Spriter commented on #180
made a PR to fix this #181

[2017-11-26 03:30] grosch opened #182 "Unable to use via cocoapods"
I added this to my podfile and ran install and it says "Using NVActivityIndicatorView (3.6.1)".  Your README seems to imply it should be a 4.x version.

When I open the workspace I get errors about functions being marked as final.

[2017-11-26 07:34] anirudhamahale opened #183 "Control speed of the animation"
First of all thanks a lot for the great framework!👍🏻🎉

Please note that this is not an issue, I have a question.
Is there a way to control the speed of the animation? I am using the 1. ballPulse animation and I feel it's too fast.

[2017-11-26 16:22] anirudhamahale commented on #183
#29
See this thread for the same issue.

[2017-11-26 16:22] #183 closed, assigned to nobody

[2017-11-26 21:01] invinciible commented on #161
I'm using delegate methods of NVActivityIndicatorViewable, I found a issue while using this in multiple ViewController
I have this in parentView controller and it worked fine, but in the child VC not working and is I call that child VC from someOther parent VC who's not conforming to this ,than it works.
weird.

[2017-11-28 12:54] #180 closed, assigned to nobody

[2017-11-28 12:57] ninjaprox commented on #173
@piv199: #180 seems related to this, and fixed by #181. Could you have a look?

[2017-11-28 13:00] ninjaprox commented on #179
@ParkGwangBeom: Sure, it's alway welcome. However, please make sure the animation is fitted in the box, you can refer to existing animations for detail.

[2017-11-28 13:04] ninjaprox commented on #177
@LinusGeffarth: I wonder what is the usage of this since if you want an identifier, `UIView.tag` might do the job.

[2017-11-28 13:13] ninjaprox commented on #175
@annjawn: So far there's no callback from `stopAnimating()`. The display prolonging is because of `minimumDisplayTime`, setting it to 0 might help.

[2017-11-28 13:27] LinusGeffarth commented on #177
If you have multiple activity indicators in one view controller, you wouldn't have to hook each of them up with an `@IBOutlet` but could access them via their id instead.
Maybe that's too specific to my project, though.

[2017-11-28 13:27] #177 closed, assigned to nobody

[2017-11-28 13:39] ninjaprox commented on #182
@grosch: Which Swift version are you using?

[2017-11-28 15:01] grosch commented on #182
4.  Not sure what happened but the next time i ran an install it put in a version that worked.

[2017-11-28 15:01] #182 closed, assigned to nobody

[2017-11-28 16:10] ParkGwangBeom commented on #179
@ninjaprox Add circle stroke animation #184

[2017-11-28 17:29] annjawn commented on #175
@ninjaprox yes, it was the minimumDisplayTime value that was causing it. Thanks.

[2017-11-29 01:18] #175 closed, assigned to nobody

[2017-12-06 13:13] ninjaprox commented on #179
@ParkGwangBeom: Thanks for the new animation 👍

[2017-12-06 13:13] #179 closed, assigned to nobody

[2017-12-08 06:01] annjawn opened #185 "circleStrokeSpin is missing"
I really like that animation but it seems to be missing. 😥

[2017-12-08 09:35] ninjaprox commented on #185
@annjawn: #184 has been merged and it's been added in `4.1.0`. Let me know if you can't use it.

[2017-12-08 16:33] annjawn commented on #185
👍🏽

[2017-12-09 05:38] #185 closed, assigned to nobody

[2017-12-11 08:15] rami965 opened #186 "cannot find circleStrokeSpin"
'circleStrokeSpin' cannot be found on the list
![screen shot 2017-12-11 at 10 15 01 am](https://user-images.githubusercontent.com/20938033/33821358-3223d998-de5c-11e7-9031-40b5067f9b3a.png)

[2017-12-11 11:07] rami965 commented on #186
how to include it, please ?

[2017-12-11 13:20] alickbass commented on #186
You can use my fork. If you use Carthage, you can do it with: `github "alickbass/NVActivityIndicatorView" "fix-build-circle-stroke-spin"`

[2017-12-11 14:09] rami965 commented on #186
Thank you

[2017-12-11 14:09] #186 closed, assigned to nobody

[2017-12-12 14:43] maclacerda opened #189 "Carthage build error"
Hello,

I have an issue on executing carthage command to add your library on my project, see the message below:

`
*** Building scheme "NVActivityIndicatorViewAppExtension" in NVActivityIndicatorView.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/marcoslacerda/my-project/Carthage/Checkouts/NVActivityIndicatorView/NVActivityIndicatorView/NVActivity

[2017-12-12 15:18] junweimah opened #190 "How do I change the loading type when I am using ActivityData() ?"
I want to call this animation with one lines of code from anywhere of my project. So I have created a Util.swift, and make 2 functions. Like this :

[code]

So I can successfully show the loading by calling

`showLoading(message: "Testing loading util...")`

But the animation is showing .ballSpinFadeLoader, which is not I want.

How to I change the animation type?

[2017-12-12 18:36] alexn-ai commented on #189
I see the same thing.

Xcode 9.2, High Sierra

[2017-12-13 11:09] annjawn opened #191 "Message without UI Blocker?"
Is it possible to add a message the the indicator view without implementing UI Blocker? I can't seem to find a way to do it.

[2017-12-17 06:07] ninjaprox commented on #191
@annjawn: It's not an out-of-the-box feature, however you still can create a custom `UIView` including a `NVActivityIndicatorView` and a `UILabel` to achieve the same result.

[2017-12-17 06:12] ninjaprox commented on #190
@junweimah: You can do it by changing the global default value `NVActivityIndicatorView.DEFAULT_TYPE` to another animation type, or pass the type on initializing `ActivityData(type: <type>)`.

[2017-12-17 06:12] #190 closed, assigned to nobody

[2017-12-17 06:16] ninjaprox commented on #189
@marcoslacerda: It seems related to #186, and the fix in #187 has been merged to `master`. Could you check again?

[2017-12-18 00:00] maclacerda commented on #189
@ninjaprox Thank you for your help

But the problem persist yet.

If i use the code below in my Carthage file the error on build occurred:

`github "alickbass/NVActivityIndicatorView"`

If i use the code on #186 the problem not occurred.

Do you have Any idea ?

Thanks

[2017-12-18 05:48] ninjaprox commented on #189
@marcoslacerda: Please refer to [`Cartfile` spec](https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#example-cartfile). By using either `github "ninjaprox/NVActivityIndicatorView"` or `github "alickbass/NVActivityIndicatorView"`, it refers to the latest version `4.1.0` which's having the issue. At the moment, you can fix this by specifying the branch `github "ninjaprox/NVA

[2017-12-18 09:35] annjawn commented on #191
@ninjaprox thanks, that's how I have been doing it but then I am also having to handle the hiding and showing of the label separately since `stopAnimating()` will just hide the indicator. Yes, its a desirable feature. But excellent library I ❤️ it. 😊

[2017-12-18 09:46] maclacerda commented on #189
Ok

I'm using :

`github "ninjaprox/NVActivityIndicatorView"`

In my Cartfile, i'll wait for your release, thank you!

[2017-12-18 14:56] ninjaprox commented on #189
@marcoslacerda: `4.1.1` is out 🚀 . Please help check.

[2017-12-20 21:52] alexn-ai commented on #189
@ninjaprox As for me, the latest version 4.1.1 builds fine in Carthage now.  Thank you!

[2017-12-20 22:17] maclacerda commented on #189
I'm sorry for the delay in returning.

Version 4.1.1 is working perfectly with Carthage now, thanks for the support.

Thanks

[2017-12-20 22:17] #189 closed, assigned to nobody

[2017-12-25 15:49] marconascimento commented on #161
I'm facing exactly the same issue.
Any solution so far?

[2017-12-25 17:51] invinciible commented on #161
Mine fix was to stop the animation before starting again.

Sent from my iPhone

[2017-12-27 15:05] Oleksandr1234 commented on #125
no its not, absolutely doesn't work, can't you just make it work without providing the frame? too much hassle, I tried other framework, work out of the box unlike this one

[2018-01-04 05:49] vinamelody commented on #54
If you encounter this error on Swift 3, Xcode 9.2, try running it anyway.
I deleted the Pods folder and do another `pod install`

<img width="1353" alt="screenshot 2018-01-04 13 46 41" src="https://user-images.githubusercontent.com/990511/34551541-f6b81c40-f155-11e7-93cd-8ae6c9e4ca01.png">

[2018-01-05 04:27] kavin06 opened #192 "Partial UI blocker"
my requirement is when loading UI should not block, I want allow to click back button for customers.How to do that.

[2018-01-08 17:07] carlosguedes opened #193 "Cannot change animation type"
I would like to use it without hardcoding it... But even seating the TYPE on the properties, it doesn't change the draw... can someone help?

[2018-01-17 14:21] flamurbeqiri1 opened #194 "Change frame size"
How to give the frame size programmatically ?

I subclass the **NVActivityIndicatorViewable** to my View Controller and start and stop the animation.

[2018-01-21 14:30] nhatquangz opened #195 "Add facebook loading animation"
Great lib 👍  I use it already :))
I very like facebook loading indicator, so please add it to your lib. And i hope to see soon a way to add custom animation :))
Other, i think support successfully (or failed) icon after hide is very usefull feature.
![facebook-loading](https://user-images.githubusercontent.com/20753825/35195182-3821144e-fef2-11e7-9191-27c589830ff7.jpg)

Thanks

[2018-01-22 19:55] cdiclemente opened #196 "'shared' is unavailable: Use view controller based solutions where appropriate instead."
The line:
guard let keyWindow = UIApplication.shared.keyWindow else { return }

in the file NVActivityIndicatorPresenter.swift is giving me the error of " 'shared' is unavailable: Use view controller based solutions where appropriate instead."

How can I get around this/fix this ?

[2018-01-28 13:00] cagricolak opened #198 "UIApplication.keyWindow must be used from main thread"
DispatchQueue.main.async(execute: { () -> Void in

            self.showLoadingAnimation()

        })

[2018-01-30 14:15] tevghenii-zz opened #199 "Custom Animation"
Hey guys!

I would like to use the library with the custom animation. Is it doable?
I checkout the `custom-animations` branch but it is outdated, we use xcode 9 and swift 4.

Thanks for your lib, is great!

[2018-02-06 15:48] siempay opened #200 "Cannot change ActivityData properties"
I dont know why there is no way to do something like this :
`		let activityData = ActivityData();
activityData.color = myColor;`

If I wanna override one of the attributes, I will have to deal with big `init`!
why I can"t just create an instance and then override what ever I want?

[2018-02-06 21:37] paulocoutinhox opened #201 "Item 32 - CircleStrokeSpin - Not found"
Hi,

Im getting error when try use: Item 32 - CircleStrokeSpin.

Can anyone help me?

Thanks.

[2018-02-17 05:56] kennic opened #202 "Unable to compile for Extension"
... due to UIApplication.shared.keyWindow is not available in extension

[2018-02-17 05:59] kennic commented on #202
sorry, I missed the "NVActivityIndicatorView/AppExtension" one that work in Extension

[2018-02-17 05:59] #202 closed, assigned to nobody

[2018-02-23 12:34] emildzwonek commented on #201
Just update the package - problem solved.

[2018-02-27 13:13] ninjaprox commented on #173
Close this, reopen if need be.

[2018-02-27 13:13] #173 closed, assigned to nobody

[2018-02-27 13:14] ninjaprox commented on #174
Close this, reopen if need be.

[2018-02-27 13:14] #174 closed, assigned to nobody

[2018-02-27 13:22] ninjaprox commented on #200
@siempay: You can in fact, `let activityData = ActivityData(color: myColor)`. However you can't change properties after init, since they're all private.

[2018-02-27 13:22] #200 closed, assigned to nobody

[2018-02-27 13:24] ninjaprox commented on #201
@prsolucoes: This has been fixed, please refer to #185, #186 and #189.

[2018-02-27 13:24] #201 closed, assigned to nobody

[2018-02-27 13:26] ninjaprox commented on #198
@cagricolak: Caller should be made in the main thread, the library itself doesn't make any assumption of this.

[2018-02-27 13:26] #198 closed, assigned to nobody

[2018-02-27 13:31] ninjaprox commented on #196
@cdiclemente: If you're using the library in app extension, please use `NVActivityIndicatorView/AppExtension` instead. Refer to [Migration](https://github.com/ninjaprox/NVActivityIndicatorView#version-370) and #202.

[2018-02-27 13:31] #196 closed, assigned to nobody

[2018-02-27 13:34] ninjaprox commented on #194
@flamurbeqiri1: You can set `size` when calling `startAnimating(size)`.

[2018-02-27 13:34] #194 closed, assigned to nobody

[2018-02-27 13:37] ninjaprox commented on #193
@carlosguedes: You can in fact, either in `init` or set `activityIndicatorView.type`. However, the change must be made before calling `startAnimating`.

[2018-02-27 13:37] #193 closed, assigned to nobody

[2018-02-27 13:41] ninjaprox commented on #192
@kavin06: You might want to refer to #174 and the solution there.

[2018-02-27 13:41] #192 closed, assigned to nobody

[2018-02-27 13:51] ninjaprox commented on #199
@tevghenii: It's been abandoned for a long time, you can check the discussion in #39. Recently, there's the PR #203 regarding this, but no progress so far.

[2018-02-27 18:10] piv199 commented on #173
@ninjaprox yeah, it's fixed, but I've forgotten to mention it here.
Thanks so much!

However, the code structure is a bit strange, and perhaps state machine pattern would fit much better for activity indicator work)

[2018-03-14 06:53] jessicae5 opened #204 "Checking isAnimating using NVActivityIndicatorViewable?"
Hi, I'm using NVActivityIndicatorViewable (e.g. calling startAnimating() on the entire UIViewController) and was wondering if there's a way to check if it's currently in animation. Thank you for letting me know!

[2018-03-15 11:27] alpadedhia1 opened #205 "Cannot view activity indicator after adding it in storyboard view controller"
Hello,

I added an indicator in storyboard view controller with the settings below. But i cannot see it when i run the app.

Module is NVActivityIndicatorView.

Please let me know if I am doing something wrong here.

<img width="254" alt="screen shot 2018-03-15 at 4 54 57 pm" src="https://user-images.githubusercontent.com/36187063/37460670-ec29165a-2871-11e8-9b4c-db462c966e98.png">

Thanks

[2018-03-20 03:08] jaelee1993 opened #206 "Missing NVActivityIndicatorAnimationCircleStrokeSpin"
class NVActivityIndicatorAnimationCircleStrokeSpin

is missing an import UIKIT

nothing serious, just letting you know

[2018-03-22 12:51] ninjaprox commented on #204
@jessicae5: Unfortunately, no way for now. However, this might be a feature request and added in future.

[2018-03-22 12:53] ninjaprox commented on #205
@alpadedhia1: Have you started the animation? As it's not started and hidden by default.

[2018-03-22 12:57] ninjaprox commented on #206
@jaelee1993: Seems duplicated with #201 #186 #185. Could you help check through these issues, and see if it still happens?

[2018-03-26 11:19] makeitTim commented on #191
I also need this feature. A Loading Indicator the user should be able to cancel if they give up.

Thanks for the library!

[2018-03-26 16:00] annjawn commented on #191
@makeitTim I ended up creating a small uiview xib file with the indicator and a UILabel on it. And I have been using that for non-blocking scenarios.

[2018-03-29 09:24] gityubj opened #207 "startAnimating doesn't work in viewDidLoad"
Hello,
 I am using this indicator with Rx. However, if you call self.startAnimating in viewDidload, the animation will not work.
It uses the NVActivityIndicatorViewable protocol. Have you resolved any related issues?

[2018-03-30 01:38] gityubj commented on #207
When I printed the log, NVActivityIndicatorView seems to be invisible under ViewController. Please fix this bug.

[2018-04-04 15:50] #206 closed, assigned to nobody

[2018-04-04 15:52] ninjaprox commented on #207
@gityubj: Could you share the log? And more context in `viewDidLoad` will also help.

[2018-04-04 15:56] ninjaprox commented on #146
Close and merge to #136, the requests are almost the same, except this one requests additional background image.

[2018-04-04 15:56] #146 closed, assigned to nobody

[2018-04-08 12:24] Zedd0202 opened #208 "Use of unresolved identifier 'NVActivityIndicatorAnimationCircleStrokeSpin'"
Reference #189
I am using Xcode 9.3.  I'm using NVActivityIndicatorView with Cocoapod, version 4.1.1.
but "**Use of unresolved identifier ‘NVActivityIndicatorAnimationCircleStrokeSpin**'" getting errors.
Any solution?

[2018-04-09 16:17] Vkt0r commented on #207
@gityubj I recommend you extend RxSwift to support the normal `rx.isAnimating` like the default one that comes with `RxCocoa` and it should work fine.

[code]

[2018-04-11 08:44] ghost opened #209 "Main Thread Crash"
When i use `self.stopAnimating()`, i got "This application is modifying the autolayout engine from a background thread after the engine was accessed from the main thread. This can lead to engine corruption and weird crashes." crash. And xcode shows 3 main thread issue on NVActivityIndicatorPresenter.swift line 258, 260 and 262. Is anyone got this crash?

[2018-04-11 14:00] ninjaprox commented on #208
@Zedd0202: I tried setting up a new project with CocoaPods `1.4.0` and NVActivityIndicatorView `4.1.1`, and it worked just fine. Please try again with fresh `pod install`. You might also want to refer to  #201 #186 #185.

[2018-04-11 14:00] #208 closed, assigned to nobody

[2018-04-11 14:07] ninjaprox commented on #209
@berkerbilgi: Are you calling `stopAnimating()` on the main thread?

[2018-04-11 14:10] ninjaprox commented on #205
Close this, reopen if need be.

[2018-04-11 14:10] #205 closed, assigned to nobody

[2018-04-11 15:02] ninjaprox commented on #204
@jessicae5: It's now available on `4.2.0` 🚀, please check it out.

[2018-04-11 15:02] #204 closed, assigned to nobody

[2018-04-25 11:07] EminEmini opened #210 "13 Errors found"
I uploaded manually `NVActivityIndicatorView` into my project, and it found 13 Errors.
Please check it.

[2018-04-25 13:10] ninjaprox commented on #210
@EminEmini: Could you give more detail? Which version `NVActivityIndicatorView` are you using? Xcode version? Swift version? What errors? Log files or screenshots should be fine.

[2018-04-25 18:08] EminEmini commented on #210
@ninjaprox I'm using the last version of `NVActivityIndicatorView`, `Swift` and `Xcode`. I deletet files from my project because I had to work more on it, and errors didn't let me to run my project. So I can not provide any screenshot anymore.

[2018-05-07 12:07] ievgenleichenko opened #211 "Loader doesn't dismiss when there are several windows."
When, for example, alert controller is displayed in new window right after calling stopAnimating, loader doesn't dismiss, because at the time it tries to do so, keyWindow changed.
Our suggestions are:
- cycle through all windows and find loader to dismiss
- store weak reference to the window, displaying the loader

[2018-05-07 14:37] #207 closed, assigned to nobody

[2018-05-07 14:38] ninjaprox commented on #209
Close this, reopen if need be.

[2018-05-07 14:38] #209 closed, assigned to nobody

[2018-05-07 17:44] qgliu opened #212 "4.2.0 compile issue"
I use Carthage. In upgrading 4.1.1 to 4.2.0, it failed in compiling. Go back to 4.1.1 works.
Below is the log. Seems some issue in NVActivityIndicatorPresenter with Swift.Int64 to Swift.String.

Loading configuration from '.swiftlint.yml'
Configuration contains invalid keys:
["identifier_name"]
Linting Swift files in current working directory
Linting 'NVActivityIndicatorAnimationDelegate.swift' (1

[2018-05-07 21:04] MaikoHermans opened #213 "4.2.0 stopAnimating() not working"
It seems that the `stopAnimating()` function that becomes available from conforming the `UIViewController` to `NVActivityIndicatorViewable` isn't actually working.

I installed the newest version and tried stopping an animation in multiple ways and it didn't work. Downgraded to 4.1.1 and it worked perfectly fine.

for instance doing (this is just to give an example)

[code]

would show the ui bloc

[2018-05-08 05:25] biajoeknee commented on #210
Same for me. The issue was a missing `import UIKit` in NVActivityIndicatorAnimationCircleStrokeSpin.swift.

[2018-05-08 12:49] ninjaprox commented on #210
@btech: I tried on my side, got no error though. Could you try again with a fresh `pod install`? And more details would help investigation.

[2018-05-08 13:05] ninjaprox commented on #212
@qgliu: Could you try again with a fresh `carthage update`? I tried on my side, but got such error so can't give any suggestion for now.

[2018-05-08 15:21] ninjaprox commented on #213
@MaikoHermans: Thanks for reporting! Fixed in `4.2.1`, please help check it out. 🚀

[2018-05-08 15:21] #213 closed, assigned to nobody

[2018-05-08 16:49] qgliu commented on #212
@ninjaprox Hi, thanks for the quick response. I tried 4.2.0 as well as 4.2.1, same issue at the same place... saying could not cast Swift.Int64 to Swift.String. Moving to 4.1.1 works fine.

I tried the following commands
carthage update  NVActivityIndicatorView --platform iOS --no-use-binaries
or
carthage update  NVActivityIndicatorView --platform iOS

[2018-05-09 04:30] ninjaprox commented on #212
@qgliu: I'm suspecting it has something to do with SwiftLint. Do you have SwiftLint installed on your side? If yes, what version, otherwise try installing it. I'm using `0.25.0`.

[2018-05-09 09:07] ANKITASRI04 opened #214 "startAnimating() isn't working initially"
Hi,
 I am using a table view and hitting an api in view did load .Initially when I try to show NVIndicator view it is not showing anything but if I refresh table view then it is working in another api.The code I am using is:
 NVActivityIndicatorPresenter.sharedInstance.startAnimating(ActivityData())
How to show the loader in viewDidLoad?

[2018-05-09 15:25] qgliu commented on #212
@ninjaprox Turns out my SwiftLint is a little outdated. I updated it and it compiled. Thanks!

[2018-05-09 15:25] #212 closed, assigned to nobody

[2018-05-13 01:59] biajoeknee commented on #210
I installed it manually

[2018-05-15 06:18] bogdan-razvan commented on #191
@annjawn care to share your solution?

[2018-05-15 09:02] annjawn commented on #191
I have a custom `UIView` xib which has another `UIView` of class `NVActivityIndicatorView` and a `UILabel` below it. Set the type of indicator using property pallet, and color-

![image](https://user-images.githubusercontent.com/26977294/40047108-70c7e62a-57e3-11e8-9edb-b0e3b1b3e557.png)

here's what the custom `UIView` class looks like-

[code]

Usage -

[code]

[2018-05-15 15:16] ninjaprox commented on #210
@btech: I guess it's the issue with SwiftLint. If you don't have SwiftLint installed, installing it would solve the issue, or update it to version ~> 0.52.

[2018-06-04 10:36] rehannali commented on #161
Stop activity indicator while starting new one.
There is another issue is you are creating multiple instance of activity indicator and never remove it before using it again.

[2018-06-06 13:35] tudorpopa39 commented on #214
I have the same issue. Cannot make it to show the loader on viewDidLoad. I solved it by placing the code in viewDidAppear. But I also search for a better solution

[2018-06-12 22:07] scmyers11 opened #215 "Exposed UIColor extensions conflict with other frameworks."
I am using another UIColor extension framework to manage colors in my app. When pulling your library in, your UIColor extensions cause a conflict and ambiguity error that I cannot get around. Is there a solution to get around this. It doesn't seem like your UIColor extensions need to be publicly available in this framework.

[2018-06-12 22:20] scmyers11 commented on #215
Sorry wrong framework.

[2018-06-12 22:20] #215 closed, assigned to nobody

[2018-06-20 12:15] jdrevet commented on #199
It would be a useful feature.
@ninjaprox What is missing to accept the PR #203 ? I can help if needed ...

[2018-06-23 10:24] ninjaprox commented on #210
Close this, reopen if need be.

[2018-06-23 10:24] #210 closed, assigned to nobody

[2018-06-23 10:32] ninjaprox commented on #199
@jdrevet: It's quite outdated now. Could you help rebase to the latest code, run through SwiftLint and update documentation for it? Beside, if you come up with any better ideas, they're welcome.

[2018-07-05 14:19] ninjaprox commented on #214
@ANKITASRI04, @tudorpopa39: Could you give some snippets? The example project doesn't have this issue.

[2018-07-05 14:22] ninjaprox commented on #161
@rehannali: Could you create a new issue for the other issue you mentioned above?

[2018-07-05 16:06] tudorpopa39 commented on #214
I created an protocol like this:

[code]
and I extended to the main view controller, and call the _startLoadingAnimation_ in the _viewDidAppear_
[code]

**If i place the _startLoadingAnimation_ in the _viewDidLoad_ method, it simply doesn't do anything.**

[2018-07-08 19:39] Jasperav opened #220 "Why is _setTypeName made internal?"
Why?! I have a string that contains the type. How can I initialize the animationType with a string representation of the enum value? Everything is internal, please make it public.

Nvm, I will just fork it

[2018-07-08 20:24] #220 closed, assigned to nobody

[2018-07-10 13:06] ninjaprox commented on #214
@tudorpopa39: I tried the same setup (new, clean project) as you provided, it works in `viewDidLoad` though. Not sure if I missed out anything, or what causes the issue on your side.

[2018-07-10 14:05] peterxiaoyun commented on #214
I got the same issue. In my case, if I put show/hide logic in super viewController, it won't show the view., but if I put the logic in child viewController, it shows

I checked the view hierarchy, looks like if I put in super viewController and call startAnimating, the indicator is shown behind the child main view, and if put logic in child viewController, then show in front of the main view

[2018-07-10 15:27] gabors opened #221 "tvOS target support"
Thanks for building this great library!
Would you be able to add support for a tvOS framework target please?

[2018-07-11 07:06] tudorpopa39 commented on #214
it looks that after updating to version 4.3.0, the spinner startAnimating even if I put it in the **viewDidLoad**. I don't know if this version fix the issue or another, but now it works.
Thank you. Cheers

[2018-07-11 14:03] ninjaprox commented on #214
@peterxiaoyun: In your case, it likely happens if you present the child VC after the UI blocker has displayed.
@tudorpopa39: Thanks, good to know that.

[2018-07-11 23:49] peterxiaoyun commented on #214
Maybe I didn't say clearly. My case is I put the show/hide functions in my super VC, and the show and hide is trigged by my view model subject. So, basically the animating show and hide is automatically trigged based on if the view model subject receives data or not. If I put the subscription of the subject code in viewDidLoad, the animating view will show behind the VC'c main view. However, If I

[2018-07-16 22:09] ghost commented on #221
There is a tvOS branch you can try, it is a bit outdated. I'll try to update that branch with the latest master when I get a chance.

[2018-07-19 06:02] MatrixSenpai commented on #182
Hey @grosch,
Sometimes dependencies aren't always up-to-date with the latest standards, some stuff may have changed in Swift 4.1 -> 4.2

You can assign the Swift Build Version in CocoaPods by setting the build version in the post_installation hook. Here's an example:
[code]
Look out for my upcoming article explaining the how/why on [CodeMentor](https://codementor.io/matrixsenpai)! :)

[2018-07-20 01:34] ghost commented on #83
Even set the module, the app dont crash, but this warning still print at my console.

[2018-07-20 10:43] paulocoutinhox opened #222 "How to change "circleStrokeSpin" animation to have a larger line?"
Hi,

How to change "circleStrokeSpin" animation to have a larger line?

I want make something like Android loader. See:

![image](https://user-images.githubusercontent.com/395096/42998471-96326390-8bf0-11e8-8479-927b278a1ace.png)

Thanks.

[2018-07-22 15:22] code918 opened #223 "how to use fadeIn/out Animation"
I am using NVActivityIndicatorPresenter.sharedInstance.
Animated functions have been added to the updated version.

public final func startAnimating(_ data: ActivityData, _ **fadeInAnimation: FadeInAnimation?**)
public final func stopAnimating(_  **fadeOutAnimation: FadeOutAnimation?**)

Please tell me the how to use it.
I would like an example.

[2018-07-22 15:54] code918 commented on #223
<img width="1176" alt="2018-07-23 12 54 06" src="https://user-images.githubusercontent.com/2545766/43047504-fe7c3ab0-8e12-11e8-9e4f-3fbcefe38428.png">
<img width="1158" alt="2018-07-23 12 53 49" src="https://user-images.githubusercontent.com/2545766/43047518-287e6a9a-8e13-11e8-84e8-8ad53f0a1b2e.png">

[2018-07-22 15:57] code918 commented on #223
I am building on a iphone device.
<img width="919" alt="2018-07-23 12 56 37" src="https://user-images.githubusercontent.com/2545766/43047529-4e83b312-8e13-11e8-9d21-15bc5f78ebf8.png">

[2018-07-22 16:12] code918 commented on #223
My project was a problem. I'm sorry. I will close the issue.

[2018-07-22 16:12] #223 closed, assigned to nobody

[2018-07-23 23:24] dashvlas commented on #214
@peterxiaoyun @ninjaprox  same issue :(

[2018-08-04 08:27] Dohab opened #226 "FadeOutAnimation"
`self.stopAnimating(FadeOutAnimation)` cause error
`Cannot convert value of type '(FadeOutAnimation).Type' (aka '((UIView, @escaping () -> ()) -> ()).Type') to expected argument type 'FadeOutAnimation?' (aka 'Optional<(UIView, @escaping () -> ()) -> ()>')`

Swift 4

[2018-08-05 07:34] aabantariqmurtaza commented on #214
@dashvlas  you got its solution?

[2018-08-05 07:42] dashvlas commented on #214
@aabantariqmurtaza I've just changed the library to another one

[2018-08-05 07:50] aabantariqmurtaza commented on #214
@dashvlas  what's your email id. i need to talk

[2018-08-05 07:54] dashvlas commented on #214
@aabantariqmurtaza dariakorneichuk@icloud.com

[2018-08-14 10:54] galli-leo opened #227 "IBDesignablesAgent crashes with error: Fatal error: Use of unimplemented initializer 'init(frame:)'"
When trying to use NVActivityIndicatorView in a storyboard, the IBDesignablesAgent constantly crashes, making XCode slow to use and interface builder unable to render any views.

The fix is quite easy, add the missing method:

[code]

This will fix the crashing and all views render correctly.

I have verified that all modules for the NVActivityIndicatorViews are correctly set to NVActivityIndicato

[2018-08-19 10:55] bharatbyan commented on #108
I'm having the same issue, unable to import the NVActivityIndicatorView.

![screen shot 2018-08-19 at 4 23 49 pm](https://user-images.githubusercontent.com/3232787/44308077-53d62880-a3cc-11e8-8a4d-9774f072bfe1.png)

[2018-08-19 10:58] bharatbyan opened #228 "Unable to import NVActivityIndicatorView in Class"
After installing via cocoa-pods, I'm having the issue, unable to import the NVActivityIndicatorView.

![screen shot 2018-08-19 at 4 23 49 pm](https://user-images.githubusercontent.com/3232787/44308114-ccd58000-a3cc-11e8-8f10-e21c3bf91ad9.png)

[2018-09-15 14:36] alexanderkhitev opened #231 "When will there be a release or a separate branch for Swift 4.2?"
Hello @ninjaprox! When will there be a release or a separate branch for Swift 4.2?

[2018-09-17 04:31] ninjaprox commented on #136
Available in [4.3.0](https://github.com/ninjaprox/NVActivityIndicatorView/releases/tag/4.3.0)

[2018-09-17 04:31] #136 closed, assigned to nobody

[2018-09-17 04:37] ninjaprox commented on #222
@prsolucoes: All animations are prebuilt with specific specs, and cannot be customized (except size and color). In case it's needed, you can fork this repo and modify the animation according to your need.

[2018-09-17 04:37] #222 closed, assigned to nobody

[2018-09-17 04:39] ninjaprox commented on #226
@Dohab: How do you use or implement a specific `FadeOutAnimation`?

[2018-09-17 04:40] ninjaprox commented on #227
@galli-leo: Could you help create a PR for this?

[2018-09-17 04:42] ninjaprox commented on #228
@111jaam: Could you try again with a clean setup of CocoaPods? This issue is likely due to CocoaPods setup.

[2018-09-17 04:46] ninjaprox commented on #211
#230 addresses this issue by checking all windows on dismiss.

[2018-09-17 04:46] #211 closed, assigned to nobody

[2018-09-17 06:29] ninjaprox commented on #231
@alexanderkhitev: There'll be a new version as soon as Xcode 10 releases officially. Stay stunned 😉

[2018-09-18 11:17] MSavisko commented on #231
@alexanderkhitev
Workaround:
`pod 'NVActivityIndicatorView', :git => 'https://github.com/ninjaprox/NVActivityIndicatorView.git', :branch => 'swift4.2'`

[2018-09-18 11:19] alexanderkhitev commented on #231
@MSavisko
Thanks, I made it. I asked this question when there was no Swift 4.2 branch

[2018-09-18 11:53] muhasturk commented on #231
just for information Xcode 10 final version has been released.

[2018-09-18 13:39] ninjaprox commented on #231
@alexanderkhitev: Version 4.4.0 with Swift 4.2 is out. 🚀

[2018-09-18 13:39] #231 closed, assigned to nobody

[2018-09-18 14:01] alexanderkhitev commented on #231
@ninjaprox thank you!

[2018-09-18 21:27] vamshikpadala commented on #226
NVActivityIndicatorPresenter.sharedInstance.startAnimating(activityData, <#FadeInAnimation?#>)

Could you please help me in how to use FadeInAnimation and FadeOutAnimation?

[2018-09-19 09:11] ninjaprox commented on #226
@vamshikpadala: You can check out [DEFAULT_FADE_IN_ANIMATION](https://github.com/ninjaprox/NVActivityIndicatorView/blob/4939dacbe3f0febbbd72782b55c3b0fb891fec3a/Source/NVActivityIndicatorView/NVActivityIndicatorView.swift#L394) for the example of how to implement a `FadeInAnimation`, and similar for `FadeOutAnimation`. Then call `startAnimation` or `stopAnimation` with a `FadeInAnimation` or `Fade

[2018-09-20 07:53] SyedSaal opened #235 "In Xcode version 10, no such file or directory: ‘NVActivityIndicatorView’ error"
Hi, I'm unable to run my application due to following error occurred

no such file or directory: ‘NVActivityIndicatorView’

in Xcode version 10 .

Could you please let me know , how to fix it or update the existing NVActivityIndicatorView

[2018-09-22 05:23] gabors commented on #221
Thank you, any progress on this?

[2018-09-24 08:20] ninjaprox commented on #235
@SyedSaal: Could you try again with a clean `pod install`?

[2018-09-24 19:40] SooqaEffect opened #236 "Outdated version compile errors"
How to fix this?
<img width="311" alt="pods xcodeproj 2018-09-24 22-39-38" src="https://user-images.githubusercontent.com/37033207/45974696-cc26ae00-c04a-11e8-8ccc-2fafe46ef622.png">

[2018-09-26 11:52] ninjaprox commented on #236
@SooqaEffect: What version of the pod are you using?

[2018-09-30 15:33] lmcmz commented on #235
@ninjaprox   I tried all the commands below to clean up pod.

1. `rm -rf ~/Library/Caches/CocoaPods`
2. `rm -rf Pods`
3. `rm -rf ~/Library/Developer/Xcode/DerivedData/*`
4. `pod deintegrate`
5. `pod setup`
6. `pod install`

I still cannot import NVActivityIndicatorView in Xcode 10. :(

[2018-10-01 06:54] SyedSaal commented on #235
Hi, I fixed the issue:

In **Xcode** _menu_, Goto **File** and select **workspace settings** and there `change` the Build System to **Legacy Build System** from **Default**.

[2018-10-03 05:06] ninjaprox commented on #228
It seems to duplicate #235.

[2018-10-03 05:06] #228 closed, assigned to nobody

[2018-10-03 05:07] #235 closed, assigned to nobody

[2018-10-03 05:09] ninjaprox commented on #214
Close this, reopen if need be.

[2018-10-03 05:09] #214 closed, assigned to nobody

[2018-10-08 07:32] string-aarzoo opened #238 "Animation hidden after stopped?"
I am using type "audioEqualizer" and it is hidden on stop. I want it to stop as it not to hide. Need help on this.

[2018-10-13 13:22] promehul commented on #236
Any updates about resolving this issue?

[2018-10-16 10:18] parnaudd commented on #236
@ninjaprox Same error for me using version from cocoapods (4.3.0 but i am not sure)

EDIT :  problem solved using command

[code]

And version 4.4.0 has been installed
[code]

[2018-10-21 06:15] #236 closed, assigned to nobody

[2018-10-21 20:41] AdieOlami opened #240 "documentation"
This is an awesome library but it is poorly documented and the demo project is not so readable

[2018-10-22 22:20] furiosFast opened #241 "How to hide close button"
Hi,
in iOS 11 i use this code for hide the close button:
[code]
but in iOS 12 it doesn't work

[2018-10-23 15:50] mrezahemmati opened #242 "This pod in unavailable in extensions"
Hi,
Use of UIApplication.shared makes this pod unavailable in extensions.

[2018-10-23 15:51] #242 closed, assigned to nobody

[2018-10-25 16:59] PatoSalazarNascent opened #243 "Is there any way to make the UI Blocker transparent when I have the loader as an IBOutlet"
This is my implementation. I have tried many things but I still see a transplarent black rectangle behing my animation.... Thanks!

[code]

[2018-10-25 17:04] #243 closed, assigned to nobody

[2018-10-25 17:23] PatoSalazarNascent commented on #243
NEvermind... was a stupid mistake of mine

[2018-10-30 23:05] #241 closed, assigned to nobody

[2018-11-19 17:29] BailyTroyer opened #244 "Swift 4.2 updates"
Upon installing the Podfile, my project has been littered with 24 issues mostly with renaming changes with the most current version of swift, many of which have been "obsoleted in swift3" based on Xcode.

[2018-11-30 16:00] promehul commented on #244
Any updates regarding this?

[2018-12-01 08:27] ninjaprox commented on #244
Version `4.4.0` has been upgraded to use Swift `4.2`. Please check and try again with clean `pod install` if you're not using the latest version.

[2018-12-01 08:29] ninjaprox commented on #240
Any suggestions to improve the documentation and the example project are welcomed.

[2018-12-01 08:30] ninjaprox commented on #226
Close this, reopen if need be.

[2018-12-01 08:30] #226 closed, assigned to nobody

[2018-12-12 15:32] ninjaprox commented on #244
Might be solved in `4.4.1`.

[2018-12-14 15:34] Michele404 opened #246 "Type 'CAMediaTimingCuntionName' aka 'NSString' has no member 'linear'"
I got this error
Type 'CAMediaTimingCuntionName' aka 'NSString' has no member 'linear'

I got last pod

[2018-12-16 06:15] husky-tech commented on #246
I have same issues.

[2018-12-17 17:00] garanda21 opened #247 "Update message within process"
There's any way to update the message inside async block, eg:

Processed 1/1000
Processed 115/1000
Processed 500/1000

etc...

Thanks in advance.

[2018-12-18 14:53] ninjaprox commented on #246
Could you give more detail like Xcode version, Swift version, etc.?

[2018-12-18 15:04] ninjaprox commented on #247
You can use `setMessage(_: String?)`. There is an example for this in the example project.

[2018-12-18 16:18] ninjaprox commented on #240
The updated documentation can be found [here](https://nvactivityindicatorview.vinhis.me).

[2018-12-18 16:18] #240 closed, assigned to nobody

[2018-12-18 19:24] garanda21 commented on #247
I wasn't use this  NVActivityIndicatorPresenter.sharedInstance mode, now I've changed everything and it works with `setMessage(_: String?)`, thanks for your help.

[2018-12-18 19:24] #247 closed, assigned to nobody

[2018-12-19 21:38] Michele404 commented on #246
Swift version 4.2
xCode last

[2018-12-20 14:36] ninjaprox commented on #246
Could you try again with a fresh `pod install` in the existing project or a new fresh project? Pasting `Podfile.lock` here might also help.

[2018-12-21 19:11] ankitthakur commented on #244
In XCode 10.1, we are getting swift conversion warning for NVActivityIndicatorView (4.4.1). Need to reopen this issue.

[2018-12-24 01:02] gabors commented on #221
Hi @ninjaprox
We love your framework, any chance you can add a tvOS target please?
Merry Christmas !

[2018-12-24 17:50] ninjaprox commented on #221
@gabors: Check out `4.5.0`, the tvOS target has been added.

[2018-12-24 17:50] #221 closed, assigned to nobody

[2018-12-24 17:52] ninjaprox commented on #244
@ankitthakur: Could you check out `4.5.0`, and see if the issue still occurs? `swift_version` in the Podspec file has been changed to `4.2` instead of `4.0`.

[2018-12-25 12:42] x-hovo-x commented on #246
Similar issue: 25 Compile Error
First one
animation.timingFunction = CAMediaTimingFunction(name: kCAMediaTimingFunctionLinear) ('kCAMediaTimingFunctionLinear' has been renamed to 'CAMediaTiming)

xcode: 10.1
swift: 4.2

Podfile.lock ----------- START -------------
PODS:
  - NVActivityIndicatorView (4.3.0):
    - NVActivityIndicatorView/Presenter (= 4.3.0)
  - NVActivityIndicatorView/Presenter (4.3

[2018-12-25 13:45] ninjaprox commented on #246
Please try again with at least version [`4.4.0`](https://github.com/ninjaprox/NVActivityIndicatorView/releases/tag/4.4.0) which migrated to Swift 4.2. You might need to run `pod repo update && pod install` or `pod install --repo-update` to update the CocoaPods repo so that you're guaranteed to get the latest version of the pod.

[2018-12-25 14:03] x-hovo-x commented on #246
Sorry haven't seen version is not 4.3.0, works
Thank YOU!

[2018-12-27 14:39] miharancic opened #251 "Unable to build project with Carthage"
After Carthage update / bootstrap version 4.5.0 is downloaded and built, Carthage doesn't report any problems. But during project build I get an error "No such module NVActivityIndicatorView". I am using `import NVActivityIndicatorView` from the beginning. After Carthage update, Xcode completion suggests I should import "NVActivityIndicatorView_iOS" but still can't build with the same error messag

[2018-12-27 16:20] ghost commented on #207
You can't use that extension with NVActivityIndicatorViewable protocol right?

[2018-12-27 20:18] BruceBC commented on #251
Having the same issue.

[2018-12-28 10:09] joshuapoq commented on #251
Found the same issue - we just need to change the product module name of the `-iOS` target.

[2018-12-29 14:49] ninjaprox commented on #251
Sorry for the issue, this is probably due to the recent change of the target name in version `4.5.0`. `4.5.1` has been out to address this issue with one caveat of changing to `import NVActivityIndicatorView_iOS` ([README updated](https://github.com/ninjaprox/NVActivityIndicatorView#usage)).

Please help verify the fix.

[2018-12-29 14:54] #246 closed, assigned to nobody

[2018-12-31 10:37] miharancic commented on #251
Fix verified, everything working as expected. Thank you and keep up the good work :)

[2018-12-31 10:37] #251 closed, assigned to nobody

[2019-01-03 20:12] gundadittu opened #254 "ter"

[2019-01-03 20:12] #254 closed, assigned to nobody

[2019-01-03 20:12] gundadittu commented on #254
accident

[2019-01-03 22:16] AliRadwan commented on #254
accident

[2019-01-04 09:15] hrtlkr29 opened #255 "Which version to use for Xcode 9.4.1?"
For some reasons, I have to use Xcode version 9.4.1. After your newest update of NVActivityIndicatorView, i can't continue using the library anymore because it requires Xcode 10.1
Is there any way to install older versions of this library, for instance, version 4.0.0? I tried
`pod 'NVActivityIndicatorView' '~> 4.0.0'
`
But it didn't work.
Thank you very much!

[2019-01-04 15:02] ninjaprox commented on #255
`~> 4.0.0` will resolve to `4.5.1`, which requires Xcode 10.1 and Swift 4.2, according to [this](https://guides.cocoapods.org/syntax/podfile.html#pod). Therefore, `~> 4.3.0` might work.

[2019-01-04 15:18] ninjaprox commented on #238
It's the expected behavior. All animations are hidden after stopped.

[2019-01-04 15:18] #238 closed, assigned to nobody

[2019-01-04 15:43] ninjaprox commented on #227
Close as it seems not an issue anymore.

[2019-01-04 15:43] #227 closed, assigned to nobody

[2019-01-05 08:03] hrtlkr29 commented on #255
~> 4.3.0 is working perfectly with Xcode 9.4.1. Thank you very much for your fast reply!

[2019-01-05 12:04] #255 closed, assigned to nobody

[2019-01-11 06:17] KrisanuWeavers commented on #244
showing error Command PhaseScriptExecution failed with a nonzero exit code. How to overcome from it . Help me

[2019-01-11 06:21] arindam94 commented on #244
showing error Command PhaseScriptExecution failed with a nonzero exit code. How can i solve this issue. My project is on swift 4.2 and ios 11.3

[2019-01-11 06:36] ninjaprox commented on #244
@KrisanuWeavers, @arindam94: Where did you get the error from? If possible, please paste the context lead to the error as well as the full error here.

[2019-01-11 06:57] arindam94 commented on #244
after installing the pod. This is the only pod I have in my project.  I attached the screenshot of error . please go through it [and]([url](url)) let me know. Its very urgent for `me`
![screenshot 2019-01-11 at 12 24 15 pm](https://user-images.githubusercontent.com/30508758/51018073-4ba9a000-159c-11e9-9da1-0a87e067ec6a.png)

``

[2019-01-11 07:06] arindam94 commented on #244
@ninjaprox  please help me

[2019-01-11 14:32] ninjaprox commented on #244
@arindam94: Have you tried a clean `pod install`? If the issue still occurs, please use `4.4.x` instead at the moment. I'll be having a look on this.

[2019-01-11 21:17] himebaugh opened #256 "PodSpec doesn't include 'osx' as a supported platform option"
I'd love to be able to use this in my mac OS desktop app, and the PodSpec already lists both 'ios' and 'tvos' as supported. Is there any reason this can't be used with macOS projects?

Attempting to install the CocoaPod results in the following error:

```[!] The platform of the target `MacOSProjectNameHere` (macOS 10.11) is not compatible with `NVActivityIndicatorView (4.5.1)`, which does not sup

[2019-01-11 22:11] himebaugh commented on #256
Nevermind, installing manually shows the UIKit isn't available for macOS.

[2019-01-11 22:11] #256 closed, assigned to nobody

[2019-01-12 19:49] vitalii-tym commented on #108
@111jaam , I had this issue too after I decided to move NVActivityIndicatorView from manual inclusion to cocoapods.
~~Here's how I fixed this: looked if there was any other target in `Build Phases > Target Dependencies` in my target settings. There was one, so I tried to add NVActivityIndicatorView for that one also, even though it wasn't using NVActivityIndicatorView. Since the dependency was an

[2019-01-14 11:53] KoCMoHaBTa opened #257 "Error since NVActivityIndicatorAnimationBallDoubleBounce"
I've just downloaded the latest version and i'm getting compile error from `NVActivityIndicatorView.swift` line 316 - **Use of unresolved identifier 'NVActivityIndicatorAnimationBallDoubleBounce'**

[2019-01-14 15:12] ninjaprox commented on #257
Thanks for the issue. This is origin from #253, but haven't released in a new version. If you're using `master` branch, I'd suggest specifying a version instead to avoid breaks during development.

[2019-01-14 15:14] #257 closed, assigned to nobody

[2019-01-14 15:18] ninjaprox commented on #108
@vitalii-tym: I wonder if you could send over the sample project which has the issue. I want to investigate this since it's weird that I never encounter this issue when testing on my side.

[2019-01-14 18:35] KoCMoHaBTa commented on #257
Thanks

[2019-01-17 14:45] KoCMoHaBTa opened #259 "Product Module name has changed since 4.5.0 - bug or feature?"
Hi,
Since release 4.5.0 - the product module name has changed from `NVActivityIndicatorView` to `NVActivityIndicatorView_iOS`.
**Not a big deal, but just wondering if this was intentional.**
I see that tvOS support was added since that version and the product name was changed - that makes me assume that the module name change was not intentional.

Issues that might occur due to different module na

[2019-01-17 14:46] KoCMoHaBTa commented on #259
I would recommend to override the module name on all frameworks and set it to be the common one - NVActivityIndicatorView

[2019-01-17 14:55] KoCMoHaBTa commented on #259
This also affects interface builder files that are using `NVActivityIndicatorView`
They are crashing during runtime with the following exception:

[code]

![screen shot 2019-01-17 at 16 53 53](https://user-images.githubusercontent.com/1181346/51326776-8ae26000-1a78-11e9-8a79-a22bf3554fd6.png)

[2019-01-17 17:03] ninjaprox commented on #259
Thanks for the issue. It was intentional due to #252 and #248 which changed the product names, as a result the module name changed accordingly. If you're using Carthage, [Usage](https://github.com/ninjaprox/NVActivityIndicatorView/blob/master/README.md#usage) has been updated to address this change, and it shouldn't affect CocoaPods users.

CMIIW, the reason of having different module names (are p

[2019-01-17 18:33] KoCMoHaBTa commented on #259
Product name is not used to differentiate targets - the schemes are used for that.
The product name is something that target generates during compilation.
If you set the same product name to all targets - it should be fine and Carthage will build them correctly. This way - there will be no need to have different imports.

I've forked and played a little with the project and can confirm that https:

[2019-01-18 09:11] ninjaprox commented on #259
You meant you managed to use `import NVActivityIndicatorView` even before the fix #252?

The purpose of the app extension target is to allow to use the library in an app extension which `UIApplication.shared.keyWindow` and `UIApplication.shared.windows` are not available (basically the target just excludes the entire [Presenter](https://github.com/ninjaprox/NVActivityIndicatorView/tree/master/Sour

[2019-01-18 11:38] KoCMoHaBTa commented on #259
I meant that i managed to use `import NVActivityIndicatorView` after i've set the same product name on all targets -> https://github.com/KoCMoHaBTa/NVActivityIndicatorView/commit/1e84bd1d3d60d5ccb4882d18d1009a10c9e8d3e5

[2019-01-20 16:25] ninjaprox commented on #259
I tried out the change, and it worked perfectly. Thanks for pointing it out and correcting my misunderstanding.

In addition to unifying product names of `NVActivityIndicatorView-iOS` and `NVActivityIndicatorView-tvOS` to `NVActivityIndicatorView`, the product name of `NVActivityIndicatorViewAppExtension-iOS` will be set to `NVActivityIndicatorViewAppExtension` to resolve the conflict you mentione

[2019-01-20 16:31] ninjaprox commented on #251
The ongoing discussion regarding the matter is on #259. Please expect the change in the upcoming release, which will revert back to `import NVActivityIndicatorView`. Sorry for this inconvenience.

[2019-01-21 08:16] KoCMoHaBTa commented on #259
PR created - https://github.com/ninjaprox/NVActivityIndicatorView/pull/260
Please check if all works well with cocoapods

[2019-01-21 14:42] ninjaprox commented on #259
`4.6.0` has been shipped included the PR. 🚀

[2019-01-21 14:42] #259 closed, assigned to nobody

[2019-01-21 14:46] ninjaprox commented on #251
Now with `4.6.0`, you can simply `import NVActivityIndicatorView` as before.

[2019-01-22 11:38] vitalii-tym commented on #108
@ninjaprox , sorry for the fake alarm. I've spent some more time analyzing my project and found that issues were in my project's settings. Since the project is old enough and I had some manually added libs, project settings were not fresh at all. The problems were:
1) resolved `Framework Search Path` wasn't getting its value from CocoaPods and continued to use values from my target instead. I've c

[2019-01-22 16:09] MatCruz opened #261 "Please update de function kCAMediaTimingFunctionEaseInEaseOut of commit df833bf"
Please, update a line 48 because the function kCAMediaTimingFunctionEasyInEaseOut is wrong, the correct function is kCAMediaTimingFunctionEaseInEaseOut of file Source/NVActivityIndicatorView/Animations/NVActivityIndicatorAnimationBallDoubleBounce.swift changed on commit "df833bf"

[2019-01-23 14:35] #261 closed, assigned to nobody

[2019-01-23 14:40] ninjaprox commented on #261
Thanks for the issue. It has been fixed and release in `4.6.1`.

[2019-01-24 06:11] albertml opened #263 "Xcode 10 and swift 4.2 error"
Command CompileSwift failed with a nonzero exit code using version 4.6.1

[2019-01-24 15:51] ninjaprox commented on #263
Please give more details, e.g. Xcode version, using CocoaPods or Carthage, Swift version. A copy of full error message also helps.

[2019-01-24 21:52] AhmadDurrani579 commented on #263
Xcode 10.1
swift 4.2
 pod 'NVActivityIndicatorView'

Issue
 'NVActivityIndicatorType' cannot be constructed because it has no accessible initializers
NVActivityIndicatorType not getting this value in swift 4.2
        startAnimating(size, message: "", messageFont: nil , type: NVActivityIndicatorType(rawValue: 6), color:UIColor.white   , padding: nil, displayTimeThreshold: nil, minimumDisplayTime:

[2019-01-25 10:10] ninjaprox commented on #263
@albertml: Please use `enum` value (e.g. `.ballPulse`) instead of constructing from a raw value as `NVActivityIndicatorType` now doesn't conform `Int` any more.

[2019-01-31 14:13] ninjaprox commented on #244
Close as it's likely a CocoaPods integration issue rather than the library itself. Please create a new issue with full detail if you encounter it.

[2019-01-31 14:13] #244 closed, assigned to nobody

[2019-02-01 14:23] BakhtiyarHussain commented on #191
how to

i want to use your way and also want to block ui how ?

[2019-02-06 15:04] acecilia opened #265 "Error when using carthage"
After installing the last version 4.6.1 with carthage and adding the `NVActivityIndicatorView` and `NVActivityIndicatorViewAppExtension` to the project, I get the following error when running on the simulator:

`Found bundle at /Users/user/Library/Developer/XCTestDevices/EDE1D09E-7C8A-4A03-B122-55BA26CA34CA/data/Library/Caches/com.apple.mobile.installd.staging/temp.7eRVwf/extracted/Payload/AppName

[2019-02-07 07:21] ninjaprox commented on #265
Could you try again with a clean `carthage build`? There's a recent change on the product name which probably messed up `carthage build`. #251 might be relevant.

[2019-02-07 09:16] acecilia commented on #265
I just removed `NVActivityIndicatorView` and `NVActivityIndicatorViewAppExtension` from my `Build/iOS` folder. Having `github "ninjaprox/NVActivityIndicatorView" == 4.6.1` in my cartfile I run `carthage update --platform ios`. The build of the app finish successfully (so it is not a build error), the error shows up when installing it to simulator, and the full Xcode error says:

- Title: `This app

[2019-02-07 13:43] ninjaprox commented on #265
Oh I got it. You should either use `NVActivityIndicatorView` or `NVActivityIndicatorViewAppExtension`. In fact, `NVActivityIndicatorView` is inclusive of `NVActivityIndicatorViewAppExtension`. You only need to use `NVActivityIndicatorViewAppExtension` in an app extension.

[2019-02-07 14:14] acecilia commented on #265
Okey, got it, thanks!

[2019-02-07 14:14] #265 closed, assigned to nobody

[2019-02-13 15:52] ES5017 opened #266 "You removed support for init via raw value"
How am I meant to initialize from a number raw value now?

[2019-02-13 16:01] ES5017 commented on #266
nvm, simply can get the index:

nvLoadingIconTypeIndex = NVActivityIndicatorType.allCases.index(of: NVActivityIndicatorHelper.Constants.type)!

and init from that index:

	NVActivityIndicatorHelper.Constants.type = NVActivityIndicatorType.allCases[nvLoadingIconTypeIndex]

[2019-02-15 15:51] ninjaprox commented on #266
Any reasons you have to use a raw number instead of a enum case?

[2019-02-22 11:31] lurui1029 opened #267 "Improvements needed: code switfy, readability, more customizations"
## More swifty

#### 1. Naming

All the static vars in `NVActivityIndicatorView` are named in FULL_UPPERCASE, such as:
[code]
According to [API Design Guidelines](https://swift.org/documentation/#migration-guides), a better way can be:
[code]

#### 2. Positions
Many of static vars in `NVActivityIndicatorView.swift` are not used by `NVActivityIndicatorView ` itself, such as:
[code]
Move these vars

[2019-02-25 06:36] barankaansert opened #268 "ActivityIndicatorView can not dismissing when UIAlertView is appearing on screen."
Hi,

Thanks for an excallent tool. I have one issue about dismissing the indicator view. When you show any UIAlertatew at screen before you startAnimating activity indictor, the activity indicator is not dismissable.

Could you please help me with this issue?
@ninjaprox

Thanks.

[2019-02-26 14:16] ninjaprox commented on #268
Don't you mind if creating or sending over an example project with the issue? I can help investigate and fix it from there.

[2019-02-26 14:36] barankaansert commented on #268
Actually basicly in viewDidLoad:

[code]

[2019-02-26 14:46] ninjaprox commented on #267
Thanks for your suggestions and thoughts. Feel free to create PR regarding Swift style and code refactor.

As for customization, I'm a bit conservative about it. The reason is that all current animations are preset with specs like speed, stroke width, and look good with these values. Moreover, it's the essence of this library, simple, good looking animations out of the box, and worry free about cu

[2019-02-27 14:22] ninjaprox commented on #268
I checked the example, and the behavior seems different from what you described. The animation is hidden behind the alert view, yet it's still able to dismiss after `stopAnimating()`. Here is the code I used.

[code]

Anyway, what use case are you having `NVActivityIndicatorView` with `UIAlertView`?

[2019-02-27 14:25] ninjaprox commented on #263
Close this, reopen if need be.

[2019-02-27 14:25] #263 closed, assigned to nobody

[2019-02-28 05:19] ES5017 commented on #266
Yes, I so i can change the loading icon remotely using firebase remote config (without updating the app), and that only allows very primitive types like strings and numbers etc.

[2019-02-28 07:09] barankaansert commented on #268
We are using fabric to distrubuting our Beta apps, so when new version is available on fabric, automatically appears "new version is available" alert on screen at old versions of app. App goes through to Main page and fetching some data and runs

 `NVActivityIndicatorPresenter.sharedInstance.startAnimating(loader, nil)` when UIAlertView on screen. After that
`NVActivityIndicatorPresenter.sharedIns

[2019-02-28 14:02] ninjaprox commented on #266
Interesting! I think we can close this issue as you already have the solution for it.

[2019-02-28 14:02] #266 closed, assigned to nobody

[2019-02-28 14:42] ninjaprox commented on #268
It might be a niche case to have 2 "modals" displaying at the same time. I'd suggest dismissing the alert view first, then `startAnimating(_:, _:)`, it also gives better UX in my opinion. Since I can't reproduce this issue on my side, could you help check the following:

- Does it call `hide(_:)` at all?
- If it calls `hide(_:)`, is there any view with `restorationIdentifier`?
- Try a delay betwee

[2019-03-03 12:36] lurui1029 commented on #267
Thanks for your response. Fully understand👌. I'll only focus on code improvements. Closing the issue.

[2019-03-03 12:37] #267 closed, assigned to nobody

[2019-03-26 05:27] mariojuni opened #270 "Swift 5 update"

[2019-04-01 14:32] ninjaprox commented on #268
Close this, reopen if need be.

[2019-04-01 14:32] #268 closed, assigned to nobody

[2019-04-03 06:05] mouli457 opened #272 "how to remove loader for navigation bar?"
unable to go back while indicator is loading?

[2019-04-03 09:45] ShurupuS commented on #270
#273 contains all the changes for migration to the Swift 5. Waiting for @ninjaprox to check and merge

[2019-04-03 16:05] ninjaprox commented on #270
`4.7.0` is out with Swift 5 🚀

[2019-04-03 16:05] #270 closed, assigned to nobody

[2019-04-04 11:08] VivekVithlani opened #275 "How to show indicator in UIWindow"
Hello,

I try to load NVActivityIndicatorView in UIWindow.
I have created Singleton class and get reference of UIWindow then show indicator method in Singleton class.
However I call / show /display indicator in UIWindow from Singleton class.

[2019-04-05 18:39] crspybits opened #277 "s.swift_version = '5.0'"
Is there a reason to have:
    `s.swift_version          = '5.0'`
and not
    `s.swift_version          = '4.2'`
in the .podspec?

It seems the library still builds fine with Swift 4.2 and this gives more backwards compatibility too (e.g., to Xcode 10.1).

Thanks for your consideration,
Chris.

[2019-04-06 11:06] maxime-killinger commented on #272
#174 Solution here

[2019-04-08 04:12] Gardenhire opened #278 "Archive Failing with NVActivityIndicatorView and Extension version installed with Cocoa pods"
With the new Xcode 10.2 update I cannot archive an application that has the NVActivityindicatorview and the extension version of the framework, both installed using cocoa pods. I have tried changing the Product and Module name in "Build Settings" for the Extension target so that it is unique, but the only fix that works is changing to the "Legacy Build System". Error message is below:

Multiple co

[2019-04-09 10:12] KrystynaKruchkovska opened #279 "NVActivityInidicatorView with gradient"
Hi,

is it possible to set up the NVActivityInidicatorView with gradient color?

For now initialiser looks like this:

init(frame: CGRect, type: NVActivityIndicatorType? = nil, color: UIColor? = nil, padding: CGFloat? = nil)

but maybe there's some trick that could be done to achieve gradient color instead of one color.

If it's not possible, it could be feature added at some point.

[2019-04-23 02:45] HMWDavid opened #281 "How to add custom views instead of Windows"

[2019-04-23 02:46] #281 closed, assigned to nobody

[2019-04-23 02:48] HMWDavid opened #282 "How to add an indicator instead of a window in a custom view"

[2019-04-29 09:28] Github-Prashant opened #283 "NVActivityIndicatorPresenter start animation method change but no description anywhere to use"
Hi,

I am bit disappointing about changes like :-
NVActivityIndicatorPresenter.sharedInstance.startAnimating(activityData)
NVActivityIndicatorPresenter.sharedInstance.startAnimating(activityData, <#T##fadeInAnimation: FadeInAnimation?##FadeInAnimation?##(UIView) -> Void#>)

I did not get it for hot to use of that changes. If I don't want to change it then which pod version I need to maintain with

[2019-05-01 09:50] ninjaprox commented on #283
@Github-Prashant: In `4.7.0`, `fadeInAnimation` param is set to `nil` by default so you still can use the same API without any changes.

[2019-05-01 09:51] ninjaprox commented on #282
@HMWDavid: You can create a `NVActivityIndicatorView`, then add it to your custom view.

[2019-05-01 09:57] ninjaprox commented on #279
@KrystynaKruchkovska: Sounds like a nice add-on to have. It seems not too difficult to implement this. Feel free to create a PR if you have some time.

[2019-05-01 09:59] ninjaprox commented on #272
Close this, reopen if need be.

[2019-05-01 09:59] #272 closed, assigned to nobody

[2019-05-01 10:05] ninjaprox commented on #277
@crspybits: As the latest version `4.7.0` has been migrated to Swift 5.0, it makes sense to update the `Podspec` file appropriately. If by any constraints, you still have to use Swift 4.2, I'd suggest using versions lower than `4.7.0`.

[2019-05-01 10:11] ninjaprox commented on #278
@Gardenhire: What version are you using? Are you using `pod 'NVActivityIndicatorView'` or `pod 'NVActivityIndicatorView/AppExtension'`?

[2019-05-01 16:38] Gardenhire commented on #278
I am using version 4.7. I have both installed via my pod file. I use the activity indicator view in my application and in a notification extension.

[2019-05-03 21:40] fstigre opened #284 "Unexpected version number in 'available' attribute for non-specific platform '*'"
Hi, I'm using `NVActivityIndicatorView` in `Xcode to 10.2.1` and `Swift 4.2`using `Cocoapods` and I'm getting a few warnings.

In `public final class NVActivityIndicatorView: UIView` line `435`I'm getting the following warning.

In `public extension NVActivityIndicatorViewable where Self: UIViewController` line `57 and 88` I'm seeing the following warning.

What can I do to fix these warnings?

Th

[2019-05-05 14:28] ninjaprox commented on #284
@fstigre: Hmm seems they have been resolved in #274. Let's try with `4.7.0` first, though it should be for Swift 5.

[2019-05-06 12:20] fstigre commented on #284
So, what you're saying is that it was resolved in the latest version (4.7.0 / Swift 5)? Thanks.

[2019-05-07 01:26] ninjaprox commented on #284
@fstigre: Let me know if it helps.

[2019-05-07 14:12] fstigre commented on #284
Thanks.

[2019-06-12 05:04] Shefali-S opened #286 "Add view below NVActivityIndicatorView"
Want to add a rectangle/square view below indicator view to stop blending it into my views background design and I don't want to use full screen background to hide the design.  I have used UIColor.white.withAlphaComponent(0.01) as background color.  Let me know if you need screenshot.

[2019-06-19 12:59] GergesEid opened #287 "I could let it appear and disappear but I want to change size, color, type and message I use this class and 2 methods ."
import UIKit
import NVActivityIndicatorView
import Foundation

class Loading: UIViewController, NVActivityIndicatorViewable {

    func startProgress() {

        let size = CGSize(width: 30, height: 30)
        let color = UIColor.blue

        let type = NVActivityIndicatorType.ballScale
        let message = "Loading"

        startAnimating(size, message:message, type:type, color:color)
    }

[2019-06-26 11:29] therauli commented on #278
We had the same issue while using Carthage. [I made a PR that fixed the issue for us](https://github.com/ninjaprox/NVActivityIndicatorView/pull/288).

[2019-07-03 00:50] #284 closed, assigned to nobody

[2019-07-03 00:51] #283 closed, assigned to nobody

[2019-07-03 00:51] #277 closed, assigned to nobody

[2019-07-03 00:52] #282 closed, assigned to nobody

[2019-07-08 10:08] HMWDavid commented on #282
thank you

[2019-07-25 10:52] CearsKhush commented on #275
Did you got the solution?

[2019-08-23 07:11] Nidhi126nj commented on #150
@ninjaprox
It works on iPad but code crash when we take screenshot of screen. Any suggestions ?

error:-
The view hierarchy is not prepared for the constraint: <NSLayoutConstraint:0x2800e2940 BGSInfoWindow:0x108000a20.leading == UIView:0x10343fc50.leading   (inactive)>

[2019-09-11 08:54] abdelmagied94 opened #291 "SWIFT_VERSION '5.0' is unsupported in target 'NVActivityIndicatorView'"
After running `pod install` and build the project, the following error is shown:
`error: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'NVActivityIndicatorView')
`
- **Installed Version:** 4.7.0
- **Xcode version:** 10.1
- **Toolchain:** Swift 5.0 Release 2019-03-25

[2019-09-11 09:30] #291 closed, assigned to nobody

[2019-09-23 19:31] ml1375 opened #292 "Error don't hame Package.swift"
please enter package.swift
I'm can not add package to my project because don't have Package.swift file

[2019-09-24 15:09] ninjaprox commented on #292
Added `Packages.swift` in #290.

[2019-09-24 15:09] #292 closed, assigned to nobody

[2019-09-24 15:11] ninjaprox commented on #161
Clean up stalled issues.

[2019-09-24 15:11] #161 closed, assigned to nobody

[2019-09-24 15:20] ninjaprox commented on #292
4.8.0 is out with SPM support. 🚀

[2019-09-26 20:21] SirWellington opened #293 "Customizing Animation Speed"
This has been requested before (See #29).

Is there a means for tuning the animation speed? I tried the `layer.speed = 0.5`, but that stopped the animation.

Any ideas?

Thanks,
Wellington

[2019-10-01 14:44] piv199 commented on #279
@ninjaprox This feature seems to be really cool. And I'd like to contribute to this project implementing this feature.

1) I'd like to create a protocol `NVActivityIndicatorColorProvider` which will be responsible for creating UIColor. This will allow custom implementations for specific needs. Basically we need to pass `size` that  color will be applied to. Will it make sense to pass type of the a

[2019-10-02 14:08] ninjaprox commented on #279
@piv199: Thanks for your interest. I have my thought [here](https://github.com/ninjaprox/NVActivityIndicatorView/issues/267#issuecomment-467465790) regarding customization. That being said, I totally support the idea of having gradients for animations, even the background. Sure we can either have a uniform color for animation or different colors for different components in the animation. The forme

[2019-10-02 14:18] ninjaprox commented on #293
@SirWellington: Setting `layer.speed` is actually a hack to slow down animations, and sure it won't work with some. Each animation comes with a set of tailored values, like its characteristics, for the best result. Tuning an animation speed, ideally, means we need a new set of values that fit that speed. It might be interesting to have speed variant, for example `.normal`, `.slow`, `.fast`. Any th

[2019-10-09 03:02] jzting opened #294 "[NVActivityIndicatorPresenter] Allow specifying the view in which to show the loading indicator"
Currently the loading indicator is shown over the whole window. It would be nice to be able to specify where to show the indicator, e.g. in a child view controller view.

[2019-10-09 13:43] ninjaprox commented on #294
It's possible to do this by using `NVActivityIndicatorView` and add it to any views as your need.

[2019-10-11 14:17] jzting commented on #294
Thanks!

[2019-10-11 14:17] #294 closed, assigned to nobody

[2019-11-05 16:46] gabors commented on #286
Same here. Would be great to have a view between the full screen blocker view and the animation/label @ninjaprox

[2019-11-18 07:54] huseyinmetin commented on #278
I had the same issue. My problem was that installed with both as cocoapods and in as project.

[2019-12-03 08:25] armaghan84 opened #295 "NVActivityIndicatorView is not stopping"
I implemented code in utilities class. Now when I call to stop animation from any view controller, animation doesn't stop.

My Function

let window = UIApplication.shared.keyWindow!
      let loaderView = NVActivityIndicatorView(frame: CGRect(x: 0, y: 0, width: 200, height: 50), type: .ballSpinFadeLoader, color: .systemPink, padding: NVActivityIndicatorView.DEFAULT_PADDING)
        let loaderBackg

[2019-12-03 10:43] #295 closed, assigned to nobody

[2020-01-21 05:48] ramesh09ios opened #296 "is Possible to set gradient colour to the indicators view"
How to apply gradient colour to the NVActivityIndicatorView.

[2020-01-30 17:35] LinusGeffarth opened #297 "Cannot install app"
After upgrading to Xcode 11.3, I cannot run my app on the simulator anymore and get the following error:

Domain: IXUserPresentableErrorDomain
Code: 1
Failure Reason: Could not install at this time.
Recovery Suggestion: Found bundle at /Users/<username>/Library/Developer/CoreSimulator/Devices/5E7081DE-66D1-436A-A6C7-91AB5442888C/data/Library/Caches/com.apple.mobile.installd.staging/temp.JUHLow/ext

[2020-01-31 08:26] LinusGeffarth commented on #297
Update: I removed the library from my Cartfile and removed the linked binary, and then installed it though CocoaPods. Now my app is running as usual. Might be worth looking into the Carthage issue anyway.

[2020-02-06 08:59] aleksmutlu commented on #293
Yeah it would be nice if we could change the animation speed.

[2020-03-03 04:06] OudomSec opened #298 "Is it possible to set the thickness of circleStrokeSpin"
Is it possible to set the thickness of circleStrokeSpin, because I want the thickness of circleStrokeSpin a bit thicker and bigger?

[2020-03-20 02:18] WangYiOS opened #300 "The project could not run. The error looks like this"
![Snip20200320_4](https://user-images.githubusercontent.com/17872114/77130556-637b8e80-6a93-11ea-88b1-28452dfefec5.png)

Save the kids. Don't know what to do

[2020-04-09 22:51] stefangerard opened #303 "NVActivityIndicatorView in SwiftUI"
Is there a way to use NVActivityIndicatorView in SwiftUI?

[2020-04-25 16:24] garanda21 opened #304 "Crash NVActivityIndicatorViewPresenterStateWaitingToStart"
I’m receiving a lot of errors on Crashlytics coming from `NVActivityIndicatorViewPresenterStateWaitingToStart`

I’m using the latest version published on cocoapods.

Here is the stack:

[code]
Here extra info provided by Crashlytics:

[code]

[2020-04-28 00:47] L1cardo opened #305 "Mac catalyst issue"
Mac catalyst shows that keyWindow has been deprecated in Mac catalyst, but the icon can still be displayed normally when compiled and run.
 But the problem is:
 When creating an extension such as share extension, it cannot be compiled and the error is located in share.keyWindow.  The iOS extension should compile successfully, but not on the Mac side.
 If you can, please look at this problem, so th

[2020-05-01 22:39] emartinez-applaudostudios commented on #303
I think this post can help you out.
https://jetrockets.pro/blog/activity-indicator-in-swiftui

[2020-05-03 19:30] thejeff77 opened #307 "Add Swift Package Manager Support"
Add SPM support, this would be great.

[2020-05-25 16:25] ninjaprox commented on #303
@stefangerard Here you go [LoaderUI](https://github.com/ninjaprox/LoaderUI). It's still WIP but you can probably use it right away (SPM supported, CocoaPods not yet).

[2020-06-05 05:59] ninjaprox commented on #275
Close this, reopen if need be.

[2020-06-05 05:59] #275 closed, assigned to nobody

[2020-06-05 06:01] ninjaprox commented on #287
Close this, reopen if need be.

[2020-06-05 06:01] #287 closed, assigned to nobody

[2020-06-05 06:03] ninjaprox commented on #307
It does in the latest version [4.8.0](https://github.com/ninjaprox/NVActivityIndicatorView/releases/tag/4.8.0).

[2020-06-05 06:03] #307 closed, assigned to nobody

[2020-06-05 06:04] #303 closed, assigned to nobody

[2020-06-05 06:06] ninjaprox commented on #296
Sorry, it doesn't support that the moment, and I don't have a plan in the near future.

[2020-06-05 06:06] #296 closed, assigned to nobody

[2020-06-19 14:02] jasmit34 commented on #298
I want same things, have you done it?

[2020-06-26 02:28] OudomSec commented on #298
Sorry for the late reply, since the library can't create the thickness of the circleStrokeSpin, we've created and customized our own loading view instead.

[2020-07-07 16:43] MiteshiOS opened #310 "'NVActivityIndicatorViewable' is deprecated"
I run example but it is showing NVActivityIndicatorViewable is deprecated.
Please take a look into screenshots.
<img width="1432" alt="Screenshot 2020-07-07 at 10 10 22 PM" src="https://user-images.githubusercontent.com/17427703/86814406-fe2dc680-c09e-11ea-9161-cd8adff71ed5.png">
<img width="1436" alt="Screenshot 2020-07-07 at 10 10 34 PM" src="https://user-images.githubusercontent.com/17427703/86

[2020-07-07 16:57] theofficejackpot opened #311 "Documentation link broken"
https://nvactivityindicatorview.vinhis.me/. is 404.

Secondly, I just pulled 5.0.0 , coming from 4.8.0, and now getting

[code]
Use of unresolved identifier 'NVActivityIndicatorPresenter'
Use of unresolved identifier 'ActivityData'

Can you please point me to the changes?